.chat-hide {
    display: none;
}

.chat-document-preview {
    white-space: break-spaces;
    border: 1px solid #eee;
    border-radius: 8px;
    padding: 10px;
    min-height: 300px;
    max-height: 600px;
    overflow-y: auto;
    width: 800px;
}

.page-left {
    width: 100%;
    float: left;
    border-right: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
}
.chat-content {
    padding: 10px;
}
.page-panel-footer {
    display: flex;
}

.AI-chat-panel h3 {
    text-align: center;
    margin: 0;
    padding: 10px;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ccc;
}

.AI-chat-panel .panel-footer {
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    display: flex;
    padding: 10px;
}

.AI-chat-panel .panel-footer .footer-ipt {
    width: 80%;
    height: 30px;
    margin: 2px;
    flex: 1;
    padding: 10px 14px;
    border: 1px solid #d0d7e0;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    background: #ffffffcc;
    transition: all 0.25s ease;
}

.AI-chat-panel .panel-footer .footer-ipt:focus {
    border-color: #4a90e2;
    background: #fff;
    box-shadow: 0 0 0 3px rgba(74, 144, 226, 0.25);
}

.prm-btn {
    height: 34px;
    margin: 0 6px;
    background: #4a90e2;
    color: #fff;
    border: none;
    padding: 12px 18px;
    cursor: pointer;
    font-size: 14px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
    line-height: 11px;
    text-align: center;
}

.prm-btn:hover {
    background: #357abd;
}

.AI-chat-panel .panel-footer .footer-send {
}

.AI-chat-panel .panel-messages {
    padding: 10px;
    overflow: hidden;
    overflow-y: auto;
}

.AI-chat-panel .panel-messages .user-message {
    text-align: right;
    margin-left: auto;
    background-color: #23adcf;
    color: #fff;
}

.user-message .avatar-icon {
    margin-left: 10px;
}

.AI-chat-panel .panel-messages .ai-message {
    text-align: left;
}

.AI-chat-panel .panel-messages .user-message,
.AI-chat-panel .panel-messages .ai-message {
    padding: 8px;
    border: 1px solid #eee;
    border-radius: 6px;
    max-width: 75%;
}
.AI-chat-panel .title-message {
    text-align: center;
    color: gray;
    margin-bottom: 10px;
}

.avatar-icon {
    border-radius: 50%;
    margin: 0 8px;
}
