* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button, input {
    border: none;
    outline: none;
    background: none;
    font: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

