@charset "utf-8";
/* CSS Document */

/*全局样式*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
section,
form,
input,
textarea {
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
}
ul,
ol,
li {
    list-style-type: none;
    list-style-image: none;
}
img,
input {
    border: 0;
}
a {
    text-decoration: none;
    cursor: pointer;
    color: #333333;
}
a:hover {
    text-decoration: underline;
}
.left {
    float: left;
    list-style-image: none;
}
.right {
    float: right;
}
.clear {
    clear: both;
}
.space {
    height: 10px;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
    clear: both;
}
.wrap {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}
.xwnr {
    width: 1000px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    overflow: hidden;
}
.xwnr .L {
    float: left;
    height: 1000px;
    width: 490px;
}
.xwnr .R {
    float: right;
    height: 1000px;
    width: 490px;
}
.xwnr .L .shbt1 {
    height: 30px;
    width: 490px;
    position: absolute;
    top: 0px;
}
.xwnr .L .fzbt2 {
    height: 30px;
    width: 490px;
    position: absolute;
    top: 332px;
    left: 1px;
}

.xwnr .L .gngjbt3 {
    height: 30px;
    width: 490px;
    position: absolute;
    top: 672px;
    left: 1px;
}
.xwnr .R .xp4 {
    height: 130px;
    width: 195px;
    position: absolute;
    left: 511px;
    top: 43px;
}
.xwnr .R .xp5 {
    height: 130px;
    width: 195px;
    position: absolute;
    left: 510px;
    top: 378px;
}
.xwnr .R .xp6 {
    height: 130px;
    width: 195px;
    position: absolute;
    left: 511px;
    top: 716px;
}
.xwnr .R .w4 {
    height: 130px;
    width: 276px;
    position: absolute;
    left: 724px;
    top: 43px;
}
.xwnr .R .w5 {
    height: 130px;
    width: 276px;
    position: absolute;
    left: 724px;
    top: 378px;
}

.xwnr .R .w6 {
    height: 130px;
    width: 276px;
    position: absolute;
    left: 724px;
    top: 716px;
}

.xwnr .L .xp1 {
    height: 130px;
    width: 195px;
    position: absolute;
    left: 1px;
    top: 43px;
}
.xwnr .L .xp2 {
    height: 130px;
    width: 195px;
    position: absolute;
    left: -1px;
    top: 378px;
}

.xwnr .L .xp3 {
    height: 130px;
    width: 195px;
    position: absolute;
    left: 0px;
    top: 716px;
}
.xwnr .L .w1 {
    height: 130px;
    width: 276px;
    position: absolute;
    left: 214px;
    top: 43px;
}
.xwnr .L .w2 {
    height: 130px;
    width: 276px;
    position: absolute;
    left: 215px;
    top: 378px;
}
.xwnr .L .w3 {
    height: 130px;
    width: 276px;
    position: absolute;
    left: 214px;
    top: 716px;
}

.xwnr h2 {
    font-size: 16px;
    line-height: 25px;
    font-weight: bold;
}
.xwnr h5 p span {
    font-size: 15px;
    line-height: 25px;
    color: #666;
    font-weight: normal;
    padding-top: 3px;
}
.xwnr .L .lb1 {
    height: 130px;
    width: 490px;
    position: absolute;
    left: 1px;
    top: 186px;
}
.xwnr .L .lb2 {
    height: 130px;
    width: 490px;
    position: absolute;
    left: 1px;
    top: 521px;
}
.xwnr .L .lb3 {
    height: 130px;
    width: 490px;
    position: absolute;
    left: -1px;
    top: 861px;
}
.xwnr .R .lb4 {
    height: 130px;
    width: 490px;
    position: absolute;
    top: 186px;
}
.xwnr .R .lb5 {
    height: 130px;
    width: 490px;
    position: absolute;
    top: 521px;
    left: 511px;
}
.tpxw20180903 {
    height: 500px;
    width: 1000px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    margin-bottom: 60px;
}
.tpxw20180903 .pic1 {
    height: 190px;
    width: 320px;
    position: absolute;
    left: 0px;
    top: 58px;
}
.tpxw20180903 .pic2 {
    height: 190px;
    width: 320px;
    position: absolute;
    left: 340px;
    top: 58px;
}
.tpxw20180903 .pic3 {
    height: 190px;
    width: 320px;
    position: absolute;
    left: 680px;
    top: 58px;
}
.tpxw20180903 .pic4 {
    height: 190px;
    width: 320px;
    position: absolute;
    left: 0px;
    top: 268px;
}

.tpxw20180903 .pic5 {
    height: 190px;
    width: 320px;
    position: absolute;
    left: 340px;
    top: 268px;
}
.tpxw20180903 .pic6 {
    height: 190px;
    width: 320px;
    position: absolute;
    left: 680px;
    top: 268px;
}
.tpxw20180903 .ht1 {
    font-size: 15px;
    color: #fff;
    background-image: url(2018gaibanxwht.png);
    text-align: center;
    height: 25px;
    width: 320px;
    padding-top: 5px;
    position: absolute;
    left: 1px;
    top: 217px;
}
.tpxw20180903 .ht2 {
    font-size: 15px;
    color: #fff;
    background-image: url(2018gaibanxwht.png);
    text-align: center;
    height: 25px;
    width: 320px;
    padding-top: 5px;
    position: absolute;
    left: 341px;
    top: 218px;
}
.tpxw20180903 .ht3 {
    font-size: 15px;
    color: #fff;
    background-image: url(2018gaibanxwht.png);
    text-align: center;
    height: 25px;
    width: 320px;
    padding-top: 5px;
    position: absolute;
    left: 680px;
    top: 218px;
}
.tpxw20180903 .ht4 {
    font-size: 15px;
    color: #fff;
    background-image: url(2018gaibanxwht.png);
    text-align: center;
    height: 25px;
    width: 320px;
    padding-top: 5px;
    position: absolute;
    left: 0px;
    top: 428px;
}
.tpxw20180903 .ht5 {
    font-size: 15px;
    color: #fff;
    background-image: url(2018gaibanxwht.png);
    text-align: center;
    height: 25px;
    width: 320px;
    padding-top: 5px;
    position: absolute;
    left: 340px;
    top: 428px;
}
.tpxw20180903 .ht6 {
    font-size: 15px;
    color: #fff;
    background-image: url(2018gaibanxwht.png);
    text-align: center;
    height: 25px;
    width: 320px;
    padding-top: 5px;
    position: absolute;
    left: 680px;
    top: 428px;
}

.xwnr .R .lb6 {
    height: 130px;
    width: 490px;
    position: absolute;
    top: 861px;
    left: 510px;
}

.xwnr ul li {
    font-size: 15px;
    line-height: 33px;
}
.xwnr .R .cjbt4 {
    height: 30px;
    width: 490px;
    position: absolute;
}
.xwnr .R .hbbt5 {
    height: 30px;
    width: 490px;
    position: absolute;
    top: 332px;
    left: 511px;
}
.xwnr .R .tyylbt6 {
    height: 30px;
    width: 490px;
    position: absolute;
    top: 672px;
    left: 510px;
}

/*头部导航*/
.toptool {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #e0e0e0;
    background: #fcfeff;
}
.toptool ul {
    overflow: hidden;
    width: 1000px;
    margin: 0 auto;
}
.toptool ul a {
    float: left;
    font-size: 12px;
    color: #7a7878;
    margin-right: 18px;
}
.toptool ul a.mr14 {
    margin-right: 14px;
}
.toptool ul span {
    color: #ccc;
    margin-right: 13px;
    float: left;
    line-height: 38px;
}

/*头部*/
.header {
    height: 111px;
    background: url(header_bg.jpg) no-repeat top center;
    overflow: hidden;
}
.header_center {
    width: 1000px;
    margin: 0 auto;
}
.header .logo {
    float: left;
    width: 240px;
    height: 70px;
    margin-top: 21px;
    background: url(logo.png) no-repeat;
}
.header .enter {
    float: left;
    margin-top: 35px;
    margin-left: 17px;
}
.enter .hot_line {
    margin-left: 3px;
    margin-top: 3px;
    font-size: 12px;
    color: #333;
}
.hot_line span {
    margin-left: 8px;
    font-size: 14px;
    *margin-left: 5px;
}

.info_search {
    float: right;
    margin-top: 34px;
    position: relative;
    *margin-top: 33px;
}
.info_search input {
    width: 277px;
    height: 40px;
    line-height: 40px;
    color: #666;
    padding-left: 7px;
    border: 1px solid #429adc;
}
.info_search_logo {
    position: absolute;
    top: 8px;
    right: 10px;
    width: 22px;
    height: 22px;
    background: url(search_logo.png) no-repeat;
    *top: 9px;
}

.header .source {
    float: right;
    margin: 21px 2px 0 28px;
    overflow: hidden;
}
.source .s {
    float: left;
    width: 49px;
    margin-left: 30px;
    text-align: center;
}
.source .s .icon {
    display: block;
    width: 49px;
    hegiht: 49px;
}
.source .s .w {
    font-size: 12px;
    font-family: "微软雅黑";
    font-weight: bold;
    line-height: 28px;
    *line-height: 32px;
}
.mgt14 {
    margin-top: 14px;
}
.mgl40 {
    margin-left: 40px;
}

.clec {
    color: #ec694b;
}
.cl8c {
    color: #8cc035;
}
.cl25 {
    color: #25a1db;
}
/*头部End*/

/*导航*/
.sub_nav {
    height: 33px;
    line-height: 33px;
    background: #f9f9f9;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
}
.sub_nav_center {
    width: 1000px;
    margin: 0 auto;
}
.sub_nav ul {
    overflow: hidden;
}
.sub_nav ul li {
    margin: auto 5px;
    float: left;
    line-height: 31px;
}
.sub_nav ul li a {
    padding: 0 6px;
    *padding: 0 5px;
    font-size: 12px;
    color: #6c6c6c;
}
.sub_nav ul .n_tit {
    float: left;
    width: 64px;
    margin-right: 4px;
    font-weight: bold;
    font-size: 12px;
    color: #6c6c6c;
    background: url(sub_nav_line.gif) no-repeat right center;
}

.sub_nav .arrow {
    float: right;
    width: 9px;
    height: 5px;
    margin: 14px 15px 0 4px;
    background: url(icon_arrow01.png) no-repeat;
}

.nav1 {
    height: 44px;
    background: #5aa804;
    line-height: 44px;
}
.nav1 ul {
    width: 1000px;
    margin: 0 auto;
}
.nav1 ul li a {
    display: block;
    float: left;
    height: 44px;
    line-height: 44px;
    margin-right: 4px;
    padding: 0 18px;
    font-size: 16px;
    font-family: "微软雅黑";
    color: #fff;
}
.nav1 ul li a.cur {
    color: white;
    background: white;
    text-decoration: none;
    color: #5aa804;
}
.nav1 ul li a b {
    font-size: 20px;
    padding-right: 25px;
}
.nav1 ul li a span {
    padding-right: 10px;
}
.nav1 ul li a.cur {
    width: 219px;
}
.nav1 ul li a.first {
    background: none;
    border: none;
    color: #fff;
}
.nav1 ul li a:hover {
    text-decoration: none;
}

.nav2 {
    height: 44px;
    background: #008a69;
    line-height: 44px;
}
.nav2 ul {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}
.nav2 ul li {
    float: left;
}
.nav2 ul li a {
    display: block;
    float: left;
    margin-right: 28px;
    font-size: 14px;
    font-family: "微软雅黑";
    color: #fff;
    padding: 0 0;
}
.nav2 ul li a.cur {
    color: #008a69;
    background: #fff;
    padding: 0 20px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    margin-right: 19px;
}
.nav2 ul li a:hover {
    text-decoration: none;
}

.nav3 {
    height: 44px;
    background: #00afc7;
}
.nav3 ul {
    width: 1000px;
    margin: 0 auto;
}
.nav3 ul li {
    float: left;
}
.nav3 ul li a {
    display: block;
    float: left;
    height: 44px;
    line-height: 44px;
    margin-right: 4px;
    padding: 0 16px;
    font-size: 16px;
    font-family: "微软雅黑";
    color: #fff;
}
.nav3 ul li a.cur {
    color: white;
    background: #009fc0;
    text-decoration: none;
}
.nav3 ul li a b {
    font-size: 20px;
    padding-right: 25px;
}
.nav3 ul li a span {
    padding-right: 10px;
}
.nav3 ul li a.first {
    background: none;
    border: none;
    color: #fff;
}

.nav4 {
    height: 44px;
    background: #cc0000;
}
.nav4 ul {
    width: 1000px;
    margin: 0 auto;
}
.nav4 ul li {
    float: left;
}
.nav4 ul li a {
    display: block;
    float: left;
    height: 44px;
    line-height: 44px;
    margin-right: 4px;
    padding: 0 15px;
    font-size: 16px;
    font-family: "微软雅黑";
    color: #fff;
}
.nav4 ul li a.cur,
.nav ul li a:hover {
    color: white;
    background: #b00000;
    text-decoration: none;
}
.nav4 ul li a.first {
    background: none;
    border: none;
    color: #fff;
}

.nav5 {
    height: 44px;
    line-height: 44px;
    background: #ff6735;
}
.nav5 ul {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}
.nav5 ul li {
    float: left;
}
.nav5 ul li i {
    display: block;
    width: 33px;
    height: 44px;
    float: left;
}
.nav5 ul li i.i1 {
    background: url(life_icon1.png) no-repeat;
}
.nav5 ul li i.i2 {
    background: url(life_icon2.png) no-repeat;
}
.nav5 ul li i.i3 {
    background: url(life_icon3.png) no-repeat;
}
.nav5 ul li i.i4 {
    background: url(life_icon4.png) no-repeat;
}
.nav5 ul li i.i5 {
    background: url(life_icon5.png) no-repeat;
}
.nav5 ul li a {
    display: block;
    float: left;
    margin-right: 88px;
    font-size: 16px;
    font-family: "微软雅黑";
    color: #fff;
}
.nav5 ul li a.cur {
    color: #ff6300;
    background: #fff;
    padding: 0 13px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    margin-right: 44px;
}
.nav5 ul li a:hover {
    text-decoration: none;
}

.nav6 {
    height: 44px;
    line-height: 44px;
    background: #ef3636;
}
.nav6 ul {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}
.nav6 ul li {
    float: left;
}
.nav6 ul li a {
    display: block;
    float: left;
    margin-right: 34px;
    font-size: 18px;
    font-family: "微软雅黑";
    color: #fefefe;
}
.nav6 ul li a.cur {
    color: #ef3636;
    background: #fff;
    padding: 0 20px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    margin-right: 30px;
}
.nav6 ul li a:hover {
    text-decoration: none;
}

.nav7 {
    height: 44px;
    line-height: 44px;
    background: #ef3636;
}
.nav7 ul {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}
.nav7 ul li {
    float: left;
}
.nav7 ul li a {
    display: block;
    float: left;
    margin-right: 34px;
    font-size: 18px;
    font-family: "微软雅黑";
    color: #fefefe;
}
.nav7 ul li a.cur {
    color: #ef3636;
    background: #fff;
    padding: 0 20px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    margin-right: 30px;
}
.nav7 ul li a:hover {
    text-decoration: none;
}

.nav8 {
    height: 44px;
    line-height: 44px;
    background: #ef3636;
}
.nav8 ul {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}
.nav8 ul li {
    float: left;
}
.nav8 ul li a {
    display: block;
    float: left;
    margin-right: 34px;
    font-size: 18px;
    font-family: "微软雅黑";
    color: #fefefe;
    text-decoration: none;
}
.nav8 ul li a.cur {
    color: #ef3636;
    background: #fff;
    padding: 0 20px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    margin-right: 30px;
}
.nav8 ul li a:hover {
    text-decoration: none;
}

.nav9 {
    height: 44px;
    line-height: 44px;
    background-color: #006dc0;
}
.nav9 ul {
    width: 1060px;
    margin: 0 auto;
    overflow: hidden;
}
.nav9 ul li {
    font-size: 15px;
    color: #fff;
    line-height: 45px;
    /* display: inline;
    margin: 0px 18px; */
}
.wrap .left.w410.h353 h2 {
    font-size: 18px;
}

.nav9 ul li a {
    display: block;
    float: left;
    margin-right: 32px;
    font-size: 14px;
    font-family: "微软雅黑";
    color: #fff;
}
.nav9 ul li a.cur {
    color: #fff;
    padding: 0 14px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    margin-right: 21px;
    background-color: #fff;
}
.nav9 ul li a.first {
    background: none;
    border: none;
    color: #fff;
}
.nav9 ul li a:hover {
    text-decoration: none;
}

.nav10 {
    height: 44px;
    line-height: 44px;
    background: #d0180d;
}
.nav10 ul {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}
.nav10 ul li {
    float: left;
}
.nav10 ul li a {
    display: block;
    float: left;
    margin-right: 34px;
    font-size: 16px;
    font-family: "微软雅黑";
    color: #fff;
}
.nav10 ul li a.cur {
    color: #d0180d;
    background: #fff;
    padding: 0 20px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    margin-right: 19px;
}
.nav10 ul li a:hover {
    text-decoration: none;
}

.nav11 {
    height: 44px;
    line-height: 44px;
    background: #d0180d;
}
.nav11 ul {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}
.nav11 ul li {
    float: left;
}
.nav11 ul li a {
    display: block;
    float: left;
    margin-right: 33px;
    font-size: 16px;
    font-family: "微软雅黑";
    color: #fff;
}
.nav11 ul li a.cur {
    color: #d0180d;
    background: #fff;
    padding: 0 20px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    margin-right: 20px;
}
/*导航End*/

/*页脚*/
.footer {
    height: 193px;
    text-align: center;
    background: #164b89 url(footer_center_bg.jpg) no-repeat top center;
    overflow: hidden;
}

.footer .link {
    margin-top: 22px;
    color: #fff;
}
.footer .link a {
    line-height: 30px;
    padding: 0 5px;
    font-size: 12px;
    color: #fff;
    vertical-align: 1px;
}
.footer p {
    line-height: 30px;
    font-size: 12px;
    color: #fff;
}
/*页脚End*/

.ht1 {
    height: 1px;
}
.ht15 {
    height: 15px;
}
.ht2 {
    height: 2px;
}
.ht3 {
    height: 3px;
}
.ht5 {
    height: 5px;
}
.ht6 {
    height: 6px;
}
.ht10 {
    height: 10px;
}
.ht18 {
    height: 18px;
}
.ht20 {
    height: 20px;
}
.ht30 {
    height: 30px;
}
.ht40 {
    height: 40px;
}
.ht55 {
    height: 55px;
}
.ht71 {
    height: 71px;
}
.ht195 {
    height: 195px;
}
.ht333 {
    height: 333px;
}
.wt235 {
    width: 235px;
}
.w620 {
    width: 620px;
}
.w310 {
    width: 310px;
}
.w360 {
    width: 360px;
}
.wt490 {
    width: 490px;
}
.wt220 {
    width: 220px;
}
.w544 {
    width: 544px;
}
.ht453 {
    height: 453px;
}
.w438 {
    width: 438px;
}
.wt326 {
    width: 326px;
}
.wt128 {
    width: 128px;
}
.ht35 {
    height: 350px;
}
.wt26 {
    width: 260px;
}
.ht83 {
    height: 83px;
}
.ht256 {
    height: 256px;
}
.ht485 {
    height: 485px;
}
.ht356 {
    height: 356px;
}
.ht340 {
    height: 340px;
}
.pdt13 {
    padding-top: 13px;
}
.mgb20 {
    margin-bottom: 20px;
}
.mgt20 {
    margin-top: 20px;
}
.mgr20 {
    margin-right: 20px;
}
.mgr39 {
    margin-right: 39px;
}
.mgt5 {
    margin-top: 5px;
}
.mgr5 {
    margin-right: 5px;
}
.mgr8 {
    margin-right: 8px;
}
.mgr10 {
    margin-right: 10px;
}
.mgr20 {
    margin-right: 20px;
}
.mgb19 {
    margin-bottom: 19px;
}
.red {
    color: #cc0000;
}
.ft14 {
    font-size: 14px;
    font-weight: bold;
    color: #9c9c9c;
    height: 22px;
    line-height: 22px;
    margin: 14px auto 6px;
}
.warp {
    width: 1000px;
    margin: 0px auto;
}
.lh {
    line-height: 0px;
}
