<?xml version="1.0" encoding="utf-8"?>
<plugin version="php">
<id>TY_Pass</id>
<name>输入密码访问网站</name>
<url>https://www.ytecn.com/post/212.html</url>
<note>不输入密码看不到任何内容</note>
<description>不输入密码看不到任何内容</description>
<path>main.php</path>
<include>include.php</include>
<level>1</level>
<author>
  <name>豫唐网络</name>
  <email>79300975@qq.com</email>
  <url>https://www.ytecn.com/</url>
</author>
<source>
  <name></name>
  <email></email>
  <url></url>
</source>
<adapted>150101</adapted>
<version>1.1.4</version>
<pubdate>2016-07-16</pubdate>
<modified>2024-08-24</modified>
<price>0</price>
<phpver>5.2</phpver>
<advanced>
  <dependency></dependency>
  <rewritefunctions></rewritefunctions>
  <existsfunctions></existsfunctions>
  <conflict></conflict>
</advanced>
<sidebars>
  <sidebar1></sidebar1>
  <sidebar2></sidebar2>
  <sidebar3></sidebar3>
  <sidebar4></sidebar4>
  <sidebar5></sidebar5>
  <sidebar6></sidebar6>
  <sidebar7></sidebar7>
  <sidebar8></sidebar8>
  <sidebar9></sidebar9>
</sidebars>
</plugin>