* {
    margin: 0;
    padding: 0;
    font-size: 16px;
}
body {
    min-width: 1280px;
}
input {
    border: 0;
}
li {
    list-style: none;
}
a {
    color: #000;
    text-decoration: none;
}
.logo-bg {
    background-color: #f5f5f5;
    width: 100%;
}
.logo-box {
    width: 1027px;
    margin: auto;
    height: 74px;
    padding: 0 126.5px;
    justify-content: space-between;
    background-color: #f5f5f5;
    display: flex;
}
.logo-box .logo {
    width: 337px;
    height: 55px;
    margin-top: 9.5px;
}
.logo-box .search-box {
    width: 142px;
    height: 32px;
    line-height: 32px;
    border: 1px solid #d9d9d9;
    padding: 0 18px;
    background-color: #fff;
    margin-top: 21px;
    border-radius: 16px;
}
.logo-box .search-box input {
    width: 130px;
    height: 32px;
    line-height: 32px;
    vertical-align: top;
}
.logo-box .search-box img {
    width: 15px;
    height: 32px;
    vertical-align: top;
}
.tab-bg {
    width: 100%;
    background-color: #0273d2;
    height: 60px;
}
.tab-menu {
    width: 1200px;
    min-width: 1200px;
    height: 60px;
    display: flex;
    background-color: #0273d2;
    padding: 0 70px;
    justify-content: space-between;
    margin: auto;
    line-height: 60px;
    color: #fff;
}
.tab-menu li {
    padding: 0 5px 0 5px;
    list-style: none;
    font-size: 18px !important;
    color: #fff;
}
li.tab-menu-active {
    background-color: #eee;
    color: #0273d2;
    border-bottom: solid 3px;
}

.route {
    width: 980px;
    padding: 0 150px;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    margin: auto;
}
.content {
    width: 1126px;
    padding: 0 77px;
    display: flex;
    margin: auto;
    padding-bottom: 15px;
}

.list-box {
    width: 645px;
    /* margin: auto; */
    padding-left: 65px;
    padding-right: 60px;
}

.bottom-bg {
    width: 100%;
    height: 72px;
    background-color: #b2b2b2;
    color: #fff;
    padding: 23.5px 0;
}
.bottom-bg ul li {
    width: 100%;
}
.bottom-box {
    width: 1280px;
    height: 72px;
    text-align: center;
    flex-wrap: wrap;
    margin: auto;
    line-height: 24px;
}
.bottom-box li {
    font-size: 15px;
}
.guide {
    width: 310px;
}
.guide .icon-box {
    display: flex;
    justify-content: space-between;
    height: 110px;
    width: 310px;
}
.guide .icon-box img {
    width: 151px;
    height: 110px;
}
.guide .key-title {
    width: 310px;
    margin: 30px auto 0 auto;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    line-height: 25px;
    height: 25px;
    padding: 8px 0;
    display: flex;
}
.guide .key-title .redicon {
    width: 10px;
    background-color: #e43529;
    height: 25px;
    vertical-align: top;
}
.guide .key-title .text {
    vertical-align: top;
    margin-left: 8px;
    width: 75px;
    font-size: 18px;
}
.guide .key-title .greybox {
    width: 210px;
    height: 25px;
    background-color: #e5e5e5;
    margin-left: 7px;
}
.guide .key-news-item {
    padding: 0 8px;
    margin-top: 27px;
}
.guide .key-news-item .title {
    color: #e43529;
    font-size: 18px;
}
.guide .key-news-item li {
    list-style-type: square;
    color: #333;
    line-height: 15px;
    margin-top: 12px;
    font-size: 13px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.guide .information {
    width: 310px;
    height: 247px;
    overflow: hidden;
    margin-top: 20px;
}
.guide .information img {
    width: 300px;
    height: 65px;
    display: block;
    position: relative;
    z-index: 99;
    left: 5px;
}
.guide .information .fb {
    background-color: #d5f0ff;
    height: 157px;
    width: 258px;
    margin-left: 11px;
    transform: translateY(-30px);
    padding: 40px 15px 15px 15px;
    overflow: hidden;
}
.guide .information .fb li {
    list-style: none;
    color: #333;
    line-height: 30px;
    font-size: 15px;
}
.guide .information .fb li::before {
    color: #d7443b;
    content: "è·¯";
    font-weight: bolder;
    margin-right: 15px;
}
.pages {
    display: flex;
    text-align: center;
    margin: 15px auto 0 auto;
    justify-content: center;
}
.pages li {
    padding: 10px 15px;
    border: 1px solid #ccc;
    margin-left: -1px;
}
.pages li.page-active {
    border: 1px solid #e43529;
    background: #e43529;
    line-height: 22px;
    color: #fff;
}
