@charset 'UTF-8';
/*section-a*/
/*col-sub*/
.section-a {
    margin-top: 35px;
}
.section-a .col-sub {
    height: 270px;
    width: 380px;
    float: left;
    _display: inline;
    margin-right: 20px;
}
.section-a .col-sub .swiper-container {
    width: 100%;
    height: 270px;
    position: relative;
}
.section-a .col-sub .swiper-container .arrow-left,
.section-a .col-sub .swiper-container .arrow-right {
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    z-index: 999;
    top: 105px;
    display: none;
}
.section-a .col-sub .swiper-container .arrow-left {
    background: url(http://file.iqilu.com/custom/new/v2016/images/arrow-left.png)
        no-repeat;
    left: 16px;
}
.section-a .col-sub .swiper-container .arrow-left:hover {
    background: url(http://file.iqilu.com/custom/new/v2016/images/arrow-left2.png)
        no-repeat;
}
.section-a .col-sub .swiper-container .arrow-right {
    background: url(http://file.iqilu.com/custom/new/v2016/images/arrow-right.png)
        no-repeat;
    right: 16px;
}
.section-a .col-sub .swiper-container .arrow-right:hover {
    background: url(http://file.iqilu.com/custom/new/v2016/images/arrow-right2.png)
        no-repeat;
}
.section-a .col-sub .swiper-container > .swiper-wrapper > .swiper-slide {
    height: 270px;
}
.section-a .col-sub .swiper-container > .swiper-wrapper dl {
    width: 100%;
    height: 240px;
    position: relative;
}
.section-a .col-sub .swiper-container > .swiper-wrapper dl img {
    width: 100%;
    height: 240px;
}
.section-a .col-sub .swiper-container > .swiper-wrapper dl dd {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    z-index: 99;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #fff;
}
.section-a .col-sub .swiper-container > .swiper-wrapper dl dd a {
    color: #fff;
    margin-left: 20px;
    line-height: 40px;
}
.section-a .col-sub .swiper-container > .pagination {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 10px;
}
.section-a .col-sub .swiper-container > .pagination > span {
    width: 60px;
    height: 4px;
    display: inline-block;
    background-color: #e3e3e3;
    margin: 0 2px;
    cursor: pointer;
}
.section-a
    .col-sub
    .swiper-container
    > .pagination
    > span.swiper-active-switch {
    background-color: #ff9900;
}
/*col-main*/
.section-a .col-main {
    margin-top: -11px;
    width: 600px;
    float: right;
    _display: inline;
}
.section-a .col-main a {
    line-height: normal;
}
.section-a .col-main .mod-headline h2 {
    font-size: 20px;
    line-height: 52px;
    color: #013068;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.section-a .col-main .mod-headline h2 a {
    line-height: 52px;
    display: block;
    max-width: 580px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.section-a .col-main .mod-headline p {
    font-size: 12px;
    line-height: 28px; /*overflow:hidden;*/
    white-space: nowrap;
    text-overflow: ellipsis;
}
.section-a .col-main .mod-headline p > span {
    margin-right: 8px;
}
.section-a .col-main .mod-headline p > a {
    padding-right: 8px;
    line-height: 30px;
}
/*bd_share*/
.bdshare-button-style0-16 {
    position: absolute;
    right: 0;
    top: 16px;
    display: none;
}
.bdsharebuttonbox.bdshare-button-style0-16 > a.bds_more {
    width: 35px;
    padding-left: 20px;
    _padding-top: 2px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    background-image: url(http://file.iqilu.com/custom/new/v2016/images/share.png);
    background-repeat: no-repeat;
    color: #d1d1d1;
    margin: 0;
}
/*end section-a*/

/*20180302 added headline*/
.mod-headline-added {
    margin-top: 40px;
}
.mod-headline-title h2 {
    font-size: 27px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
}
.mod-headline-title h2 a {
    color: #013068;
}
.mod-headline-title h2 a:hover {
    color: #cc0000;
}
/*news-list*/
.news-list > li {
    font-size: 14px;
    line-height: 34px;
    color: #013068;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.news-list > li.first-item {
    font-size: 15px;
}
.news-list > li.first-item.black {
    font-weight: bold;
    color: #333;
}
.news-list > li.first-item.black a {
    color: #333;
}
.news-list > li > a:hover,
.news-list > li > a:active {
    color: #cc0000;
}
.news-list.type-a > li {
    background: url(../images/play.png) 0 center no-repeat;
    padding-left: 25px;
}
.news-list.type-b > li,
.news-list.type-c > li {
    background: url(http://file.iqilu.com/custom/new/v2016/images/dot-grey.jpg)
        0 center no-repeat;
    padding-left: 18px;
}
.news-list.type-c > li a {
    padding-right: 10px;
}
.news-list.type-c > li img {
    width: 15px;
    height: 15px;
    display: inline-block;
    position: absolute;
    margin-top: 10px;
}
.mod-headline-added .news-list {
    margin-top: 26px;
}
.mod-headline-added .news-list.type-c > li {
    width: 318px;
    float: left;
    _display: inline;
    padding-left: 14px;
}
/**/
.section1 {
    margin: 0 0 10px 0;
}
.row-news.fs14 ul li {
    background: url(../images/dot-black.png) 8px center no-repeat;
}
/*鍙樼伆*/
/*html { 
        filter: gray !important;
		filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
		filter: grayscale(100%);
		-webkit-filter: grayscale(100%);
		-moz-filter: grayscale(100%);
		-ms-filter: grayscale(100%);
		-o-filter: grayscale(100%); 
    }*/
/*    			.site-gray, .site-gray *{
				filter: gray !important;
				filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
				filter: grayscale(100%);
				-webkit-filter: grayscale(100%);
				-moz-filter: grayscale(100%);
				-ms-filter: grayscale(100%);
				-o-filter: grayscale(100%); 
			}*/
