body {
    min-width: 1200px;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.wrapper {
    width: 1200px;
    margin: 0 auto;
}
.content {
    border-bottom: 1px solid #ccc;
}
.nodisplay {
    display: none;
}

/* font */
.f12 {
    font-size: 12px;
}
.f14 {
    font-size: 14px;
}
.f16 {
    font-size: 16px;
}
.f18 {
    font-size: 18px;
}
.f20 {
    font-size: 20px;
}
.f22 {
    font-size: 22px;
}
.f24 {
    font-size: 24px;
}
.f26 {
    font-size: 26px;
}
.f30 {
    font-size: 30px;
}
.f32 {
    font-size: 32px;
}
.f34 {
    font-size: 34px;
}
.f36 {
    font-size: 36px;
}
/* margin padding*/
.m_t_5 {
    margin-top: 5px !important;
}
.m_t_10 {
    margin-top: 10px !important;
}
.m_t_15 {
    margin-top: 15px !important;
}
.m_t_20 {
    margin-top: 20px !important;
}
.m_t_25 {
    margin-top: 25px !important;
}
.m_t_30 {
    margin-top: 30px !important;
}
.m_t_35 {
    margin-top: 35px !important;
}
.m_t_40 {
    margin-top: 40px !important;
}
.m_t_45 {
    margin-top: 45px !important;
}
.m_t_50 {
    margin-top: 50px !important;
}
.m_b_5 {
    margin-bottom: 5px !important;
}
.m_b_10 {
    margin-bottom: 10px !important;
}
.m_b_15 {
    margin-bottom: 15px !important;
}
.m_b_20 {
    margin-bottom: 20px !important;
}
.m_b_25 {
    margin-bottom: 25px !important;
}
.m_b_30 {
    margin-bottom: 30px !important;
}
.m_b_35 {
    margin-bottom: 35px !important;
}
.m_b_40 {
    margin-bottom: 40px !important;
}
.m_b_45 {
    margin-bottom: 45px !important;
}
.m_b_50 {
    margin-bottom: 50px !important;
}
.m_l_10 {
    margin-left: 10px !important;
}
.m_l_15 {
    margin-left: 15px !important;
}
.m_r_0 {
    margin-right: 0 !important;
}
.m_r_10 {
    margin-right: 10px !important;
}
.p_t_5 {
    padding-top: 5px;
}
.p_t_10 {
    padding-top: 10px;
}
.p_t_15 {
    padding-top: 15px;
}
.p_t_18 {
    padding-top: 18px;
}
.p_t_20 {
    padding-top: 20px;
}
.p_t_25 {
    padding-top: 25px;
}
.p_t_30 {
    padding-top: 30px;
}
.p_t_35 {
    padding-top: 35px;
}
.p_t_40 {
    padding-top: 40px;
}
.p_t_45 {
    padding-top: 45px;
}
.p_t_50 {
    padding-top: 50px;
}
.p_b_5 {
    padding-bottom: 5px;
}
.p_b_10 {
    padding-bottom: 10px;
}
.p_b_15 {
    padding-bottom: 15px;
}
.p_b_20 {
    padding-bottom: 20px;
}
.p_b_25 {
    padding-bottom: 25px;
}
.p_b_30 {
    padding-bottom: 30px;
}
.p_b_35 {
    padding-bottom: 35px;
}
.p_b_40 {
    padding-bottom: 40px;
}
.p_b_50 {
    padding-bottom: 50px;
}
.p_l_5 {
    padding-left: 5px;
}
.p_l_10 {
    padding-left: 10px;
}
.p_l_15 {
    padding-left: 15px;
}
.p_l_20 {
    padding-left: 20px;
}
.p_l_25 {
    padding-left: 25px;
}
.p_l_30 {
    padding-left: 30px;
}
.p_l_40 {
    padding-left: 40px;
}
.p_l_50 {
    padding-left: 50px;
}
.p_r_5 {
    padding-right: 5px;
}
.p_r_10 {
    padding-right: 10px;
}
.p_r_15 {
    padding-right: 15px;
}
.p_r_20 {
    padding-right: 20px;
}
.p_r_25 {
    padding-right: 25px;
}
.p_r_30 {
    padding-right: 30px;
}
.p_r_40 {
    padding-right: 40px;
}
.p_r_50 {
    padding-right: 50px;
}
/** line-height */
.h16 {
    line-height: 20px;
}
.h18 {
    line-height: 20px;
}
.h20 {
    line-height: 20px;
}
.h22 {
    line-height: 22px;
}
.h24 {
    line-height: 24px;
}
.h26 {
    line-height: 26px;
}
.h28 {
    line-height: 28px;
}
.h30 {
    line-height: 30px;
}
.h32 {
    line-height: 32px;
}

/*top-nav*/
.top-nav {
    height: 30px;
    background: #f4f4f4 url(../img/topbg.png) repeat-x;
    border-bottom: 1px solid #d8d8d8;
    color: #dbdbdb;
    line-height: 30px;
    z-index: 9;
    position: relative;
}
.top-nav a.sctop-help-alink {
    background: url(../img/topbg.png) no-repeat;
    display: block;
}
.top-nav .current a.sctop-help-alink {
    background-position: right -236px;
}
.top-nav .sctop-help {
    position: relative;
    z-index: 99;
    margin: 0 0 0 -5px;
    zoom: 1;
    line-height: 30px;
    float: left;
}
.top-nav a.sctop-help-alink {
    position: relative;
    display: block;
    z-index: 99;
    top: -1px;
    *top: 0;
    width: 76px;
    padding: 0 2px 0 8px;
    border: 1px solid #dadada;
    border-bottom: 0 none;
    white-space: nowrap;
    background-position: right -262px;
    margin-left: 15px;
}
.top-nav a.sctop-help-alink:hover {
    text-decoration: none;
}
.top-nav .current a.sctop-help-alink {
    border-color: #dadada;
    background-color: #fff;
    -moz-box-shadow: 1px 0 0 #e8e8e8;
    -webkit-box-shadow: 1px 0 0 #e8e8e8;
    box-shadow: 1px 0 0 #e8e8e8;
}
.top-nav .show-sctop-help {
    display: none;
    position: absolute;
    z-index: 9;
    top: 28px;
    left: 15px;
    width: 86px;
    background-color: #fff;
    border: 1px solid #dadada;
    -moz-box-shadow: 1px 1px 0 #e8e8e8;
    -webkit-box-shadow: 1px 1px 0 #e8e8e8;
    box-shadow: 1px 1px 0 #e8e8e8;
}
.top-nav .current .show-sctop-help {
    display: block;
}
.top-nav .show-sctop-help a {
    display: block;
    color: #333;
    text-decoration: none;
    cursor: pointer;
    width: 76px;
    margin: 0;
    padding: 2px 0 1px 10px;
    line-height: 23px;
}
.top-nav .show-sctop-help a:hover {
    color: #333;
    background: #e0f7ff;
}
.top-nav a {
    color: #595959;
}
.top-nav a:hover {
    color: #ba2636;
    text-decoration: underline;
}
.top-nav .wrapper {
    position: relative;
}

.top-ad {
    margin-top: 10px;
}
.top-ad .wrapper,
.header .wrapper {
    overflow: hidden;
}
.top-ad .ad-item {
    float: left;
    width: 285px;
    height: 60px;
    margin-right: 20px;
    overflow: hidden;
}
.top-ad .last-ad {
    margin-right: 0;
}

.header {
    height: 60px;
    border-bottom: 2px solid #208eda;
}
.header .logo {
    float: left;
    margin: 13px 0 0 8px;
}
.header .view-index {
    float: left;
    font-size: 14px;
    color: #777;
    margin: 20px 0 0 24px;
}
.header .view-index a {
    color: #999;
}
.header .header-search {
    margin-top: 13px;
}
.header .search-input {
    float: left;
    border: 1px solid #ddd;
    border-right: none;
}
.header .search-input input {
    width: 220px;
    height: 24px;
    font-size: 14px;
    color: #666;
    padding: 4px 10px;
    border: none;
    background: #f7f8f8;
}
.header .search-btn {
    width: 78px;
    height: 34px;
    line-height: 34px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    border: none;
    background: #3a9fff;
    cursor: pointer;
}

/* news footer */
.footer .left-content {
    float: left;
    line-height: 25px;
    color: #999;
    padding-top: 20px;
}
.footer .left-content a {
    color: #999;
}
.footer .right-content {
    float: right;
    padding-top: 26px;
}
.footer .right-content a {
    text-indent: -9999px;
}
.footer .site-other {
    height: 146px;
}
.footer .site-record {
    padding-top: 8px;
}
.footer .site-record a {
    float: left;
    margin-right: 18px;
}
.footer .mt8 {
    margin-top: 8px !important;
}
.footer .link1 {
    position: relative;
    padding-left: 26px;
}
.footer .link2 {
    position: relative;
    padding-left: 24px;
}
.footer .site-record i {
    position: absolute;
    top: 0;
    left: 0;
}
.footer .link1 .icon {
    width: 17px;
    height: 19px;
    background: url(../img/icon_bg2.png) no-repeat -122px -140px;
}
.footer .link2 .icon {
    width: 20px;
    height: 20px;
    background: url(../img/icon_bg2.png) no-repeat -143px -140px;
}
.footer .link3 {
    float: right;
    width: 211px;
    height: 35px;
    background: url(../img/icon_bg2.png) no-repeat -114px -219px;
}
.footer .link4 {
    float: right;
    width: 77px;
    height: 33px;
    background: url(../img/icon_bg2.png) no-repeat -329px -219px;
}
.footer .link5 {
    float: right;
    width: 209px;
    height: 29px;
    margin: 3px 0 0 18px;
    background: url(../img/icon_bg2.png) no-repeat 0 -259px;
}

.back-top-btn {
    display: none;
    position: fixed;
    bottom: 100px;
    z-index: 1000;
    width: 56px;
    height: 56px;
    text-indent: -9999px;
    background: url(../img/icon_bg2.png) no-repeat -410px -219px;
    cursor: pointer;
}
