body {
    background: #fff;
    color: #333;
    font-size: 12px;
    font-family: "SimSun", "瀹嬩綋", "Arial Narrow";
    padding: 10px 0px;
}

div,
span,
td,
p {
    word-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 12px;
}

.container {
    width: 950px;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

.page_error {
    width: 300px;
    margin: 0px auto;
    padding: 20px 0px 50px 0px;
    line-height: 200%;
}

.floatRight {
    float: right;
}

.floatLeft {
    float: left;
}

.page_error .logo {
    text-align: center;
}

.page_error .reson {
    font-size: 1.2em;
    margin: 30px 0px 0px 0px;
}

.page_error .link a {
    font-size: 12px;
}

#logo ul {
    float: right;
    margin-right: 12px;
    margin-top: 3px;
    line-height: 150%;
    font-size: 12px;
}

.livetime_time,
.livetime_date {
    float: left;
    font-size: 18px;
    line-height: 45px;
    height: 45px;
    color: #848484;
    margin-left: 18px;
    font-weight: bold;
}

.livetime_date {
    margin-left: 5px;
}

#loginStatus {
    font-size: 12px;
    text-align: right;
}

#loginStatus p {
    font-size: 12px;
}

.header_line {
    border-top: 1px solid #d9d9d9;
    margin: 12px 12px 0px 12px;
    height: 1px;
}

.bold {
    font-weight: bold;
}

.px12 {
    font-size: 12px;
}

.px14 {
    font-size: 14px;
}

.px16 {
    font-size: 16px;
}

.px18 {
    font-size: 18px;
}

.px20 {
    font-size: 20px;
}

/** 鍥磋剸**/
#weibo {
    width: 450px;
    height: 25px;
    margin-top: 10px;
    float: right;
    text-align: right;
    /*background: url(../images/weibo.png) no-repeat;*/
}

div.weboNav {
    padding: 1em 0.5em;
}

div.weboNav .item {
    margin-right: 5px;
}

/** 娴姩鏀惰棌 杞彂 **/
a.flow-clt2 {
    background-color: #ffffff;
    border: 1px solid #123587;
    color: #123587;
    /*color: #FF6699;*/
    display: block;
    height: 18px;
    left: 2px;
    padding-left: 2px;
    position: absolute;
    top: 2px;
    width: 28px;
    z-index: 10;
}

.pr {
    position: relative;
}

a.flow-clt2:hover {
    background-color: #123587;
    color: #ffffff;
}

/** 瀹藉害 **/
.wAuto {
    width: auto;
}

.w120 {
    width: 120px;
}

.w220 {
    width: 220px;
}

.w280 {
    width: 280px;
}

.w310 {
    width: 310px;
}

/** 绔欑偣瀵艰埅鏍� **/
div.breadcrumbs {
    font-size: 12px;
    padding-top: 6px;
    padding-bottom: 9px;
    /*    border-bottom: 1px solid #9d9d9d;*/
}

div.breadcrumbs a {
    color: #6d6c6a;
}

/** box 鍙充晶 瀵艰埅 a杩炴帴棰滆壊**/
.navRight a {
    color: black;
}

#header {
    margin-top: 10px;
}

/** icon **/
.icon_triangle {
    background: url("../images/icon_triangle_10px.jpg") no-repeat left;
    padding-left: 15px;
}

.icon_cross_r {
    background: url("../images/icon_cross_10px.jpg") no-repeat right;
    padding-right: 15px;
}

.icon_trolley_r {
    background: url("../images/icon_trolley_25px.jpg") no-repeat right;
    padding-right: 30px;
}

#loadingdiv {
    width: 150px;
    height: 50px;
    text-align: center;
    z-index: 99;
    background-color: #fff;
    position: absolute;
    font-size: 12px;
    padding: 10px;
    border: 4px solid #ddd;
}

#favoritedialog {
    z-index: 99;
    background-color: #fff;
    width: 260px;
    position: absolute;
    border: 4px solid #ddd;
    padding: 15px;
}

#favoritedialog .tags {
    padding-bottom: 5px;
}

#search {
    float: left;
    width: 400px;
    margin-top: 12px;
}

#search input,
#search label,
#search button {
    vertical-align: middle;
    float: left;
    font-size: 12px;
    padding: 0;
    margin-left: 0.2em;
}

.center {
    text-align: center;
}

#menu {
    vertical-align: middle;
    background: url("../images/menu-background-a.png") repeat-x;
    border-bottom: 1px solid #9d9d9d;
    padding-bottom: 11px;
    padding-top: 20px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

#menu a {
    color: #000000;
}

#menu a.selected {
    color: #3d4db2;
}

#menu span {
    color: #adadad;
    padding: 0px 3px;
}

/** 涓讳綋鍐呭 **/
#content {
    padding: 0 0 12px 0;
}

#footer {
    background: url("../images/footer-line.png") no-repeat top;
    padding-top: 20px;
    text-align: center;
}

#footer-logo {
    margin: 25px 0 0 0;
    text-align: center;
}

#footer p {
    margin: 12px 0;
}

#footer p a {
    font-weight: bold;
    color: black;
}

#footer p span {
    margin: 0 8px;
}

#icp {
    margin-top: 10px;
}

.side-left,
.side-center,
.side-right {
    overflow: hidden;
}

/** begin 鍏叡妯″潡 **/
/** 涓夊垪 **/
/** layout Home **/
div.main-zone-3 {
}

div.main-zone-3 .side-left {
    width: 250px;
    float: left;
}

div.main-zone-3 .side-center {
    width: 370px;
    margin-left: 25px;
    float: left;
}

div.main-zone-3 .side-right {
    width: 280px;
    float: right;
}

#home-zone-a {
    margin-bottom: 10px;
}

#home-zone-b {
    margin-bottom: 10px;
}

/** 涓ゅ垪 **/
div.main-zone-2 {
}

div.main-zone-2 .side-left {
    width: 645px;
    float: left;
}

div.main-zone-2 .side-right {
    width: 280px;
    float: right;
}

/** layout Category **/
div.layout-zone-2 .side-left {
    width: 200px;
    float: left;
}

div.layout-zone-2 .side-right {
    width: 730px;
    float: right;
}

div.layout-zone-3 {
}

div.layout-zone-3 .side-left {
    width: 150px;
    float: left;
}

div.layout-zone-3 .side-center {
    width: 500px;
    margin-left: 25px;
    float: left;
}

div.layout-zone-3 .side-right {
    width: 250px;
    float: right;
}

/** end 鍏叡妯″潡 **/
div.comBox {
    border-top: 1px solid #b9b9b9;
    padding-top: 7px;
    margin-bottom: 10px;
}

div.comBox a {
    color: black;
}

div.comBox h4 {
    color: #123587;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 12px;
    float: left;
}

div.comBox h4 a {
    color: #123587;
}

div.comBox h5 {
    margin-bottom: 0px;
    font-weight: bold;
    clear: both;
}

div.comBox .navRight {
    font-size: 12px;
    margin-bottom: 6px;
    float: right;
}

div.comBox ul {
    clear: both;
}

div.comBox li.d {
    line-height: 200%;
}

div.comBox li.d h5 {
    font-size: 14px;
}

div.comBox li.d p {
    font-size: 12px;
}

div.comBox li.d p a {
    color: #585858;
}

div.comBox ul li.s {
    margin-bottom: 5px;
}

div.comBox .photo {
    margin-bottom: 10px;
}

/** 鏈€鏂版潅蹇� **/
div.lastest-magazine {
    padding-bottom: 2px;
    font-weight: bold;
}

div.lastest-magazine .navRight a {
    color: #123587;
    font-weight: normal;
}

div.lastest-magazine .cover {
    text-align: center;
    clear: both;
}

div.lastest-magazine .magaInfo {
    font-size: 12px;
    font-weight: normal;
    margin: 10px 0px 0px 0px;
    padding-left: 0px;
    text-align: center;
}

/** 宸︿晶**/
div.main-zone-3 div.side-left div.lastest-magazine .cover a.flow-clt2 {
    left: auto;
    top: 6px;
    right: 55px;
    font-weight: normal;
}

div.layout-zone-2 div.side-left div.lastest-magazine .cover a.flow-clt2,
div.layout-zone-3 div.side-left div.lastest-magazine .cover a.flow-clt2 {
    left: auto;
    top: 6px;
    right: 30px;
    font-weight: normal;
}

/** 鍙充晶**/
div.layout-zone-3 div.side-right div.lastest-magazine .cover a.flow-clt2 {
    left: auto;
    top: 6px;
    right: 54px;
    font-weight: normal;
}

/** 鏂囩珷鍒楄〃 **/
div.article-box {
    float: left;
}

/*div.article-box ul {min-height: 160px;} 鏆傛椂灞忚斀*/
div.article-box li p {
    color: #585858;
    padding-bottom: 5px;
    margin-right: 20px;
}

div.article-box li p.title {
}

div.article-box li p.author {
    font-weight: bold;
    padding-bottom: 0;
}

div.article-box h4 {
    font-weight: bold;
}

div.article-box-R {
    float: right;
}

/** 绠€瑕侀鏍� **/
div.article-box-simple h4 {
    font-size: 14px;
    font-weight: bold;
}

div.article-box-simple ul {
    clear: both;
    margin-bottom: 5px;
}

div.article-box-simple ul li a {
    color: #000000;
}

/** 鏈€鏂版枃绔� **/
div.lastest-article ul li {
    margin-bottom: 12px;
}

div.lastest-article ul li.d h5 {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 0px;
}

div.lastest-article ul li.s h5 {
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 0px;
}

div.lastest-article ul li.d p {
    margin-top: 2px;
}

div.lastest-article ul li p a {
    color: #5c5c5c;
}

/** 鏈湡鏂囩珷 **/
div.current-article ul li {
    margin-bottom: 15px;
}

div.current-article ul li h5 {
    margin-right: 1em;
    margin-bottom: 2px;
    font-size: 16px;
}

div.current-article ul li h5 a {
    color: black;
}

div.current-article ul li h6 {
    margin-right: 3em;
    margin-bottom: 2px;
}

div.current-article ul li p {
    clear: both;
    line-height: 200%;
    margin: 0px 0px 5px 2px;
}

div.current-article ul li p a {
    color: #5c5c5c;
}

div.current-article ul li .more {
    font-size: 12px;
    float: right;
    margin-right: 5px;
}

div.current-article ul li .date {
    font-size: 12px;
    float: left;
    margin-left: 2px;
}

/** 灏侀潰鏂囩珷 **/
div.cover-article a {
}

/** 闀滃ご **/
div.lens ul li p.subject {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

div.lens .photo {
}

div.lens .lensPhotoBox {
    width: 650px;
}

div.lens .photo li {
    /*width: 70px;*/
}

div.videoBox a {
    color: black;
}

div.videoBox h5 {
    font-size: 14px;
}

div.videoBox ul li {
    font-size: 12px;
    line-height: 200%;
}

/** 鍗楅瀹� **/
div.blogBox {
    clear: both;
}

div.blogBox .photo {
    width: 70px;
    text-align: center;
    float: left;
}

div.blogBox .content {
    width: 210px;
    float: right;
}

div.blogBox .content h5 {
    border-bottom: 1px solid black;
    padding-bottom: 2px;
    margin-bottom: 2px;
    padding-left: 5px;
    font-weight: bold;
}

div.blogBox .content h6 {
    font-weight: bold;
    font-size: 14px;
    padding-left: 5px;
}

div.blogBox .content p {
    padding-top: 10px;
}

div.nfc-blog-box ul.blogList {
    clear: both;
}

div.nfc-blog-box ul.blogList li {
    /** 鑳屾櫙鍥� 鏇夸唬list-style **/
    background: url("../images/icon_circle_10px.jpg") no-repeat left;
    padding-left: 10px;
    line-height: 200%;
    float: left;
    width: 120px;
    color: #006ca9;
}

div.nfc-blog-box ul.blogList li a {
    color: #006ca9;
}

div.nfc-blog-box ul.blogList li.blogListLi_R {
    float: right;
}

/** 鏂囩珷鐩掑瓙-浜虹墿 **/
div.article-box-people {
}

div.article-box-people div.background {
    /*    background-color: #efefef;*/
}

div.article-box-people div.background div.photo {
    padding: 10px 0px 10px 0px;
    width: 320px;
    float: left;
    text-align: center;
}

div.article-box-special div.background div.photo {
    padding: 0;
}

div.article-box-people div.background .list {
    width: 320px;
    float: left;
}

div.article-box-people div.background .list ul {
    margin-left: 0.5em;
}

/** 涓撴爮 **/
div.article-box-column .blogBox {
    clear: none;
    float: left;
    width: 315px;
    padding-bottom: 15px;
}

div.article-box-column .blogBox a {
    color: black;
}

div.article-box-column .blogBox .photo {
    padding-top: 10px;
}

div.article-box-column .blogBox_R {
    float: right;
}

div.article-box-column .blogBox div.content {
    width: 220px;
    min-height: 150px;
}

/** 鍒嗙被鍒楄〃 **/
#category-index-zone-a div.article-box {
    width: 245px;
}

div.category-box {
    border: 0;
}

div.category-box ul {
    font-weight: bold;
    color: #0d3384;
    line-height: 200%;
    padding: 0px 0px 5px 0px;
    border-top: 1px solid #bababa;
    border-bottom: 1px solid #bababa;
}

div.category-box ul li {
    padding: 0px 0px 0px 3px;
}

div.category-box ul li a {
    font-size: 12px;
    color: #0d3384;
}

div.category-box .categoryListSub {
    float: right;
    font-weight: normal;
    display: none;
}

div.category-header {
    background: url("/images/category-background.jpg") no-repeat;
    height: 26px;
}

div.category-header h3 {
    text-align: center;
    width: 140px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
}

div.category-header h3 a {
    color: white;
}

div.category-header .content .article-intro {
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 20px;
}

div.category-header .content .article-intro a {
    color: black;
}

div.category-header .content .article-intro h4 {
    margin-bottom: 0;
    font-size: 24px;
    font-weight: bold;
}

div.category-header .content .article-intro .author {
    font-size: 12px;
    font-weight: bold;
    padding-top: 2px;
    padding-left: 10px;
}

div.category-header .content .article-intro p.intro {
    color: #5e5d5b;
    font-size: 14px;
    padding-top: 5px;
}

div.category-header .content .article-intro p.date {
    color: black;
    font-weight: bold;
    padding-left: 10px;
    font-size: 12px;
    text-align: right;
}

/** 鍒嗙被椤� 鏂囩珷鍒楄〃 **/
div.category-article-box .list-view {
    padding: 12px 0 16px 0;
}

div.category-article-box a {
    color: black;
}

div.category-article-box .article-items {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #9c9e9d;
}

div.category-article-box .article-items h5 {
    float: left;
    margin-bottom: 5px;
    font-size: 10px;
}

div.category-article-box .article-items h5 a {
    font-size: 17px;
}

div.category-article-box .article-items h5 span.author {
    font-size: 13px;
    margin-left: 2px;
    font-weight: normal;
    color: #a1a3a2;
}

div.category-article-box .article-items h6 {
    float: left;
    font-weight: normal;
    margin-bottom: 5px;
    padding-top: 4px;
}

div.category-article-box .article-items p {
    clear: both;
    color: #575757;
    line-height: 200%;
    margin-right: 40px;
}

div.category-article-box .article-items .date {
    font-size: 12px;
    text-align: right;
    margin-left: 12px;
    margin-right: 12px;
    color: #a4a4a4;
}

div.category-article-box .article-items .date a {
    color: #a4a4a4;
}

/** top10 鐑棬 **/
div.top10-box ul {
    padding-left: 10px;
}

div.top10-box ul li {
    line-height: 200%;
    font-weight: bold;
    font-size: 18px;
}

/** 鏂囩珷鍐呭鐩掑瓙 **/
div.article-content-box {
    padding-top: 20px;
    padding-bottom: 30px;
}

div.article-content-box h3.subject {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 14px;
}

div.article-content-box div.intro {
    font-size: 12px;
    margin-bottom: 12px;
    line-height: 200%;
    font-weight: bold;
}

div.article-content-box div.info {
    border-bottom: 1px solid #adadad;
    margin-bottom: 16px;
    padding-bottom: 12px;
    color: #757575;
    font-size: 12px;
    padding-right: 48px;
}

div.article-content-box div.info span {
    padding-right: 6px;
}

div.article-content-box div.content {
    font-size: 14px;
    line-height: 28px;
    overflow: hidden;
}

div.article-content-box div.content > p {
    padding-right: 5rem;
}

/*div.article-content-box div.content img {max-width: 900px;margin: 0px auto;}*/
div.article-content-box .score {
    border-top: 1px dashed #a4a4a4;
    margin-top: 12px;
    padding: 3px 10px 0px 10px;
}

div.article-content-box .score form {
    font-size: 12px;
}

#publish-view-zone-a div.content {
    padding-right: 20px;
}

/** 鍗楅璧勮 **/
div.nfc-information a {
    color: black;
}

div.nfc-information h5 a {
    font-size: 14px;
}

div.nfc-information ul li {
    line-height: 160%;
}

div.nfc-information ul li a {
    font-size: 12px;
}

/** Information/index part view **/
div.informationIndex {
    margin-right: 200px;
}

div.informationItem {
    margin-bottom: 20px;
    border-bottom: 1px solid #9d9f9e;
}

div.informationItem h5 a {
    color: black;
}

div.informationItem h5 {
    margin-bottom: 5px;
}

div.informationItem p {
    margin-bottom: 2px;
}

div.informationItem div {
    margin-bottom: 5px;
}

div.informationItem .link a {
    font-size: 12px;
}

/** 鐑棬鏂囩珷box **/
div.hotArticleBox {
}

div.hotArticleBox .list {
    clear: both;
    padding-top: 6px;
}

div.hotArticleBox .list ul.tab {
    display: none;
}

div.hotArticleBox .list .tabsNav {
    font-size: 12px;
    text-align: right;
    margin: 2px 10px;
}

div.hotArticleBox .list .tabsNav a {
    color: #9c9e9d;
}

div.hotArticleBox .list .tabsNav a.current {
    color: #123587;
    font-weight: bold;
}

div.hotArticleBox .list ul.tab li {
    font-size: 12px;
    margin: 0px 6px 7px 0px;
    padding: 0px 12px 2px 0px;
    border-bottom: 1px dashed #dedede;
    font-weight: bold;
}

/** article 椤甸潰 **/
div.layout-zone-3 div.hotArticleBox .ui-tabs-nav li a {
    padding: 5px 7px;
}

/** 寰€鏈熸潅蹇楀垪琛˙ox **/
div.magazine-slide-box {
    display: none;
}

/**
280 - (24 + 24 + 150) = 82px
82 - (35 + 35)澶栦晶 = 12 鍐呬晶
**/
div.magazine-slide-box .slides {
    width: 280px;
    min-height: 201px;
}

div.magazine-slide-box .slides .slides_container {
    width: 150px;
    /*height: 195px;*/
    float: right;
    margin-right: 6px;
}

div.magazine-slide-box .slides .slides_container a {
    display: block;
    width: 154px;
    height: 201px;
}

div.magazine-slide-box .slides .prev {
    float: left;
    margin-top: 80px;
    margin-left: 35px;
}

div.magazine-slide-box .slides .next {
    float: right;
    margin-top: 80px;
    margin-right: 35px;
}

/** 瑙嗛 **/
#video-zone-a .video-content h1 {
    padding: 10px 0px 0px 0px;
    text-align: center;
}

#video-zone-a .video-content .date {
    text-align: right;
    padding-right: 12px;
    padding-bottom: 6px;
    /*    border-bottom: 1px solid #9d9d9d;*/
}

#video-zone-a .video-content .flash_player {
    padding: 10px 0px;
}

#video-zone-a .video-content .content {
    padding: 1em 0.5em;
    font-size: 14px;
    line-height: 200%;
}

div.video-list-box .video-items a {
    font-size: 14px;
    color: black;
}

/** 鏉傚織view椤甸潰 **/
#magazine-view-zone-a div.article-box {
    width: 335px;
}

div.publish-info-list-box {
    line-height: 200%;
    font-weight: bold;
}

/** BEGIN 鐢ㄦ埛妯″潡 **/
#user-register .form {
    padding: 10px;
}

/** 鐢ㄦ埛闈㈡澘 */
#userPanel {
    padding: 10px 0px;
}

#userPanel .menu {
    float: left;
    width: 85px;
    text-align: center;
}

#userPanel .menu .portlet-content {
    font-size: 12px;
    line-height: 200%;
}

#userPanel .content {
    float: right;
    width: 850px;
}

/**浜у搧鍒楄〃 **/
#userPanel td.productImageList {
    padding: 0.5em;
}

#userPanel td.productImageList img {
    margin: 2px 3px;
}

#user-order-pay ul.info {
    margin-top: 2em;
}

#user-order-pay ul.info .label {
    font-size: 12px;
}

/*#user-order-pay ul.info li {font-size: 1em;}*/
#user-order-pay .hero-unit p {
    margin: 1em 0em;
}

#user-order-pay .hero-unit a {
    text-decoration: none;
    font-weight: bold;
}

#payButtonBar {
    text-align: right;
    padding: 1em;
}

/** END 鐢ㄦ埛妯″潡 **/
/** 鏉傚織鍒楄〃 Magazine-Index **/
div.magazine-list-box {
    padding: 10px 0px;
}

div.magazine-list-box .items {
    margin-top: 20px;
}

div.magazine-list-box .pager {
    clear: both;
    margin-top: 20px;
}

div.magazine-list-box .magazine-items {
    text-align: center;
    float: left;
    width: 235px;
    margin-bottom: 10px;
    min-height: 225px;
}

div.magazine-list-box .magazine-items .cover {
    position: relative;
}

/** 鏀惰棌鎸夐挳浣嶇疆 **/
div.magazine-list-box .magazine-items .cover .flow-clt2 {
    top: 6px;
    left: auto;
    right: 55px;
}

div.magazine-list-box .magazine-items h6 {
    margin-top: 2px;
}

div.magazine-list-box .magazine-items h6 a {
    color: black;
}

/** END 鏉傚織鍒楄〃 Magazine-Index **/

#researchchina-article-view .subject,
#researchchina-article-view .intro,
#researchchina-article-view .info {
    text-align: center;
}

div.ss-block {
    text-align: center;
    padding: 5px 0;
}

/** 棣栭〉 涓婂崐鍖� 宸︿晶 鏂囩珷鍒楄〃 瀹藉害 **/
#home-zone-a-s1 .article-box {
    width: 100%;
}

/** 鏉傚織娴忚 鏂囩珷鍒楄〃 鏈€灏忛珮搴� **/
/*#magazine-view-zone-a div.article-box ul {min-height: 0;}*/
div.user-favorite .tagList p {
    line-height: 200%;
}

div.user-favorite .tagList a {
    display: inline-block;
    padding: 2px 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #eee;
    color: black;
}

div.user-favorite .grid-view {
    padding-top: 5px;
}

#apps-zone-a h2 {
    font-size: 16px;
    font-weight: bold;
    color: #123587;
    padding-bottom: 2px;
    padding-left: 10px;
    border-bottom: 1px solid gray;
}

#apps-zone-a .sub-left,
#apps-zone-a .sub-right {
    float: left;
}

#apps-zone-a .sub-left {
    width: 380px;
    text-align: center;
}

#apps-zone-a .sub-left img {
    margin-top: 40px;
}

#apps-zone-a .sub-right {
    width: 350px;
}

#apps-zone-a .icon {
    min-height: 55px;
}

#apps-zone-a .downloadItem {
    /*float: left;*/
    /*text-align: center;*/
    min-height: 150px;
    padding: 10px 10px 10px 40px;
}

#apps-zone-a .downloadItem .downloadItemLeft {
    float: left;
    padding-top: 60px;
}

#apps-zone-a .downloadItem .qrcode {
    float: left;
    margin-left: 20px;
}

a.btn-small {
    font-size: 12px;
}

.yiiPager .hidden {
    display: none;
}

#articlePager {
    margin: 2em auto;
    text-align: center;
}

/*RSS璁㈤槄寮曞椤�*/
#rss-index li {
    margin-bottom: 1em;
}

#rss-index h5 {
    margin-bottom: 0.2em;
}

#rss-index input {
    width: 30em;
    height: 20px;
    line-height: 20px;
    margin: 0;
    padding-left: 0.3em;
}

#rss-index input,
img {
    vertical-align: middle;
}

#rss-index .side-left {
    width: 250px;
}

#rss-index .side-right {
    width: 620px;
}

#rss-index .help {
    margin-top: 2em;
    padding-top: 1em;
}

#rss-index .help h4 {
    border-bottom: 1px solid gray;
    padding-bottom: 0.2em;
    padding-left: 0.5em;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.5em;
    color: #006dcc;
}

#rss-index .help .rssDesc {
    margin-bottom: 1.5em;
    padding: 0em 1em;
    line-height: 200%;
}

#rss-index .help .rssReader {
    padding: 0em 1em;
}

div.site-chooseVersion {
    text-align: center;
}

div.site-chooseVersion .logo {
    text-align: center;
}

div.site-chooseVersion .notify-title {
    color: #9d9d9d;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    margin-top: 2em;
}

div.site-chooseVersion .notify-body {
    color: #9d9d9d;
    font-size: 12px;
    line-height: 17px;
}

div.site-chooseVersion .button-nav li {
    margin: 3em 0;
}

div.site-chooseVersion .btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    color: #ffffff;
    font-family: "SimSun", "瀹嬩綋", "Arial Narrow";
    font-size: 1.2em;
    padding: 10px 40px 10px 40px;
    text-decoration: none;
}

div.site-chooseVersion .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

/*
    Document   : common.css
    Created on : 2012-6-18, 15:09:59
    Author     : xj
    Description:
        Purpose of the stylesheet follows.
*/
/** 瑕嗙洊Yii缁勪欢css **/
body table.detail-view th,
table.detail-view td {
    font-size: 12px;
}

body .grid-view table.items th,
.grid-view table.items td {
    font-size: 12px;
}

body div.form label {
    font-size: 12px;
}

body .list-view .pager,
.grid-view .pager {
    font-size: 12px;
}

ul.pagination {
    float: right;
    font-size: 12px;
    border: 0;
    margin: 0;
    padding: 0;
    line-height: 100%;
    display: inline;
}

ul.pagination li {
    display: inline;
}

ul.pagination a:link,
ul.pagination a:visited {
    border: solid 1px #9aafe5;
    font-weight: bold;
    color: #0d3384;
    padding: 1px 6px;
    text-decoration: none;
}

ul.pagination .active a {
    background: #2e6ab1;
    color: #ffffff;
    font-weight: bold;
}

ul.pagination .disabled,
ul.pagination .next {
    display: none;
}

ul.pagination .disabled a {
    border: solid 1px #dedede;
    color: #888888;
}

div.form .errorSummary {
    font-size: 12px;
}

div.form .errorMessage {
    font-size: 12px;
}

.list-view .summary,
.grid-view .summary {
    font-size: 12px;
}

.list-view .summary {
    text-align: right;
    margin-bottom: 0.5em;
}

.red {
    color: red;
}

/**
 * 妗嗘灦椋庢牸
*/
body .portlet {
}

body .portlet-decoration {
    padding: 3px 8px;
    background: #b7d6e7;
    border-left: 5px solid #6faccf;
}

body .portlet-title {
    font-size: 12px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    color: #298dcd;
}

body .portlet-content {
    margin: 0 0 15px 0;
    padding: 5px 8px;
    background: #effdff;
}

body .portlet-content ul {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body .portlet-content li {
    padding: 2px 0 4px 0px;
}

/** END 閲嶈浇Yii缁勪欢css **/

body div.user-panel-question-post-item {
    padding: 0px 0px 5px 2px;
    margin-bottom: 15px;
    border-bottom: 1px solid gray;
}

body div.user-panel-question-post-item .post_type {
    color: #fd0000;
}

body div.user-panel-question-post-item .post_type .me {
    color: blue;
}

body div.user-panel-question-post-item .post_content {
    padding: 10px 20px;
}

body div.user-panel-question-post-item .post_create_time {
    padding-right: 20px;
    text-align: right;
}

/** start global **/
body div.form label.labelForRadio {
    display: inline-block;
    width: auto;
    float: none;
}

/** end global **/
div.informationItem h5 {
    font-size: 28px;
    padding-right: 4em;
}

div.article-copyright {
    border-top: 1px dashed darkgray;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em 5em 0 5em;
}

div.article-copyright h5 {
    margin-bottom: 1em;
    text-align: center;
}

div.article-copyright p.content {
    text-indent: 2em;
}

div.article-copyright p.contact {
    text-align: right;
    margin-top: 1em;
}

.article_video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.article_video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
