.wrapper {
    width: 1200px;
    margin: 0 auto;
}
.right-content .article-list a,
.right-content .news-rank-list a,
.news-slider .news-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.view-index a:hover,
.article-list .list-content a:hover,
.pic-list a:hover .pic-title,
.news-rank-list .list-content a:hover {
    text-decoration: underline;
}
.fixed-list {
    position: fixed;
    top: 0;
    background: #fff;
}
.normal-content .content-title > div,
.pic-list .pic-title > div {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}
.lazy {
    background: #d9d9d9 url(../img/img_bg_small.png) no-repeat center center;
}
.news-slider a:hover img,
.content-img a:hover img,
.pic-list a:hover img,
.list-headline a:hover img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.news-slider img,
.content-img img,
.pic-list img,
.list-headline img {
    -webkit-transition: transform 0.2s ease-out;
    -moz-transition: transform 0.2s ease-out;
    -ms-transition: transform 0.2s ease-out;
    -o-transition: transform 0.2s ease-out;
    transition: transform 0.2s ease-out;
}
.news-list .content-title a:hover {
    color: #355aa9;
}

.news-main {
    float: right;
    padding-top: 24px;
}
.news-list {
    width: 660px;
    padding-bottom: 24px;
}
.news-slider {
    position: relative;
    width: 660px;
    height: 330px;
    margin-bottom: 24px;
    overflow: hidden;
}
.news-slider li {
    float: left;
}
.news-slider img {
    display: block;
    width: 660px;
    height: 330px;
}
.news-slider .slider-list a {
    position: relative;
}
.news-slider .news-title {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 486px;
    height: 44px;
    line-height: 44px;
    font-size: 18px;
    color: #fff;
    padding: 0 160px 0 14px;
    background: rgba(0, 0, 0, 0.6);
}
.news-slider .slider-index {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 44px;
    padding-right: 14px;
}
.news-slider .slider-index li {
    float: left;
    width: 10px;
    height: 10px;
    text-indent: -9999px;
    border-radius: 5px;
    margin: 17px 0 0 6px;
    background: #8d8d8d;
    cursor: pointer;
}
.news-slider .slider-index li.on {
    background: #218eda;
}
.news-slider .prev-btn,
.news-slider .next-btn {
    position: absolute;
    top: 50%;
    width: 44px;
    height: 44px;
    text-indent: -9999px;
    margin-top: -22px;
    background-image: url(../img/icon_bg2.png);
    background-repeat: no-repeat;
    cursor: pointer;
}
.news-slider .prev-btn {
    left: -44px;
    background-position: -245px -259px;
    -webkit-transition: left 0.2s ease-out;
    -moz-transition: left 0.2s ease-out;
    -ms-transition: left 0.2s ease-out;
    -o-transition: left 0.2s ease-out;
    transition: left 0.2s ease-out;
}
.news-slider .next-btn {
    right: -44px;
    background-position: -293px -259px;
    -webkit-transition: right 0.2s ease-out;
    -moz-transition: right 0.2s ease-out;
    -ms-transition: right 0.2s ease-out;
    -o-transition: right 0.2s ease-out;
    transition: right 0.2s ease-out;
}
.slider-hover .prev-btn {
    left: 4px;
}
.slider-hover .next-btn {
    right: 4px;
}

.right-content {
    float: right;
    width: 320px;
    padding-bottom: 24px;
}
.right-content > div {
    margin-top: 24px;
}
.right-content .ad-item {
    height: 200px;
}
.right-content .article-list,
.right-content .news-rank-list,
.right-content .pic-list,
.right-content .media-list {
    background: #fafafa;
}
.right-content .article-list .list-header,
.right-content .pic-list .list-header,
.right-content .news-rank-list .list-header {
    border-top: 2px solid #d6d6d6;
}
.right-content .article-list .list-title,
.right-content .pic-list .list-title,
.right-content .news-rank-list .list-title {
    position: relative;
    float: left;
    top: -2px;
    height: 36px;
    line-height: 36px;
    font-size: 18px;
    color: #000;
    padding: 0 12px;
    border-top: 2px solid #3a9fff;
}
.article-list .list-content {
    padding: 8px 12px 20px;
}
.article-list li {
    padding: 6px 0;
    overflow: hidden;
}
.article-list .list-content a,
.news-rank-list .list-content a {
    position: relative;
    float: left;
    max-width: 100%;
    font-size: 14px;
    color: #333;
}
.article-list .list-content a:before,
.news-rank-list .list-content a:before {
    float: left;
    width: 5px;
    height: 5px;
    content: "";
    margin: 7px 12px 0 4px;
    background: #d3d3d3;
}
.news-rank-list .list-content {
    padding: 8px 0 20px;
}
.news-rank-list li {
    padding: 8px 0;
    overflow: hidden;
}
.news-rank-list li:last-child {
    border-bottom: none;
}
.news-rank-list .list-content a:before {
    margin-left: 15px;
}
.list-headline {
    height: 100px;
    margin-top: 10px;
    overflow: hidden;
}
.list-headline img {
    display: block;
    width: 100%;
    height: 100%;
}
.pic-list ul,
.media-list ul {
    font-size: 0;
}
.pic-list li,
.media-list li {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    padding-top: 8px;
}
.pic-list a {
    display: block;
    width: 136px;
    font-size: 14px;
    color: #333;
    margin: 0 auto;
}
.pic-list img {
    display: block;
    width: 100%;
    height: 100%;
}
.pic-list .pic-cover {
    position: relative;
    height: 85px;
    overflow: hidden;
}
.pic-list .pic-title {
    margin-top: 8px;
    overflow: hidden;
}
.pic-list .pic-title > div {
    height: 36px;
    line-height: 18px;
}
.pic-list .list-content {
    padding-bottom: 20px;
}
.pic-list .pic-count {
    position: absolute;
    bottom: 8px;
    right: 4px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    color: #fff;
    padding: 0 8px;
    border-radius: 6px;
    background: rgba(0, 0, 0, 0.6);
}
.news-rank-list ul {
    padding-right: 14px;
}
.news-rank-list li {
    border-bottom: 1px solid #e4e4e4;
}
.media-list .list-header {
    font-size: 18px;
    color: #333;
    padding: 14px 0 24px 12px;
}
.media-list .list-content {
    padding: 0 20px;
}
.media-list li {
    padding-top: 0;
    padding-bottom: 36px;
}
.media-list a {
    display: block;
    margin: 0 auto;
    overflow: hidden;
}
.media-list .media-icon {
    height: 78px;
    background-image: url(../img/icon_bg.png);
    background-repeat: no-repeat;
}
.media-list .wx {
    width: 87px;
}
.media-list .wx .media-icon {
    background-position: 0 -60px;
}
.media-list .wb {
    width: 91px;
}
.media-list .wb .media-icon {
    background-position: 0 20px;
}
.media-list .touch {
    width: 78px;
}
.media-list .touch .media-icon {
    background-position: 0 -223px;
}
.media-list .app {
    width: 84px;
}
.media-list .app .media-icon {
    width: 77px;
    margin: 0 auto;
    background-position: 0 -141px;
}
.media-list .bbs {
    width: 77px;
}
.media-list .bbs .media-icon {
    background-position: 0 -302px;
}
.media-list .media-name {
    font-size: 14px;
    color: #aaa3b5;
    text-align: center;
    margin-top: 10px;
}
.media-list .wx img,
.media-list .wb img {
    display: none;
    width: 78px;
    height: 78px;
    margin: 0 auto;
}
.media-list .glrb {
    width: 91px;
}
.media-list .glrb .media-icon {
    width: 91px;
    margin: 0 auto;
    background-image: url(../img/glrb.png);
    background-repeat: no-repeat;
}
.media-list .glwb {
    width: 91px;
}
.media-list .glwb .media-icon {
    width: 91px;
    margin: 0 auto;
    background-image: url(../img/glwb.png);
    background-repeat: no-repeat;
}
.media-list .paper {
    width: 78px;
}
.media-list .paper .media-icon {
    width: 78px;
    margin: 0 auto;
    background-image: url(../img/papercode.png);
    background-repeat: no-repeat;
}
.news-nav {
    float: left;
    width: 185px;
    padding-top: 24px;
}
.news-nav .nav-list {
    width: 150px;
    text-align: center;
}
.news-nav .list-header {
    height: 54px;
    line-height: 54px;
    font-size: 24px;
    color: #333;
}
.news-nav .list-content {
    padding-bottom: 12px;
    background: #f8f8f8;
}
.news-nav a {
    display: block;
    height: 44px;
    line-height: 44px;
    font-size: 18px;
    color: #208eda;
}
.news-nav .active,
.news-nav a:hover {
    color: #fff;
    background: #3a9fff;
}

.news-list .content-img a {
    display: block;
}
.normal-content,
.multi-pic-content,
.big-pic-content {
    border-bottom: 1px solid #e8e8e8;
}
.normal-content .content-img {
    float: left;
    position: relative;
    padding-top: 12px;
}
.normal-content .content-img a {
    width: 156px;
    height: 100px;
    overflow: hidden;
}
.normal-content .content-img img {
    display: block;
    width: 100%;
    height: 100%;
}
.normal-content .content-main {
    position: relative;
    height: 126px;
    margin-left: 174px;
}
.normal-content .content-title a,
.multi-pic-content .content-title a,
.big-pic-content .content-title a {
    line-height: 28px;
    font-size: 20px;
    color: #333;
}
.normal-content .content-title {
    padding-top: 24px;
}
.normal-content .content-title > div {
    height: 56px;
}
.normal-content .content-other {
    position: absolute;
    left: 0;
    bottom: 18px;
    width: 100%;
    font-size: 14px;
    color: #999;
}
.content-type,
.post-date {
    float: left;
    margin-right: 36px;
}
.view-count {
    position: relative;
    float: right;
    padding-left: 26px;
}
.view-count .view-icon {
    position: absolute;
    top: 4px;
    left: 0;
    width: 19px;
    height: 11px;
    content: "";
    background: url(../img/icon_bg.png) no-repeat -37px -421px;
}
.multi-pic-content .view-icon,
.big-pic-content .view-icon {
    top: 15px;
}

.multi-pic-content .content-title,
.big-pic-content .content-title {
    padding: 14px 0;
}
.multi-pic-content .img-item {
    float: left;
    width: 33.33%;
}
.multi-pic-content .img-item a {
    width: 210px;
    height: 135px;
    overflow: hidden;
}
.multi-pic-content .img1 a {
    float: left;
}
.multi-pic-content .img2 a {
    margin: 0 auto;
}
.multi-pic-content .img3 a {
    float: right;
}
.multi-pic-content img {
    display: block;
    width: 100%;
    height: 100%;
}
.multi-pic-content .content-other span,
.big-pic-content .content-other span {
    height: 42px;
    line-height: 42px;
}
.multi-pic-content .content-other,
.big-pic-content .content-other {
    font-size: 14px;
    color: #999;
}

.big-pic-content .content-img {
    position: relative;
}
.big-pic-content .lazy {
    background-image: url(../img/img_bg_big.png);
}
.big-pic-content .content-img a {
    height: 330px;
    overflow: hidden;
}
.big-pic-content .content-img img {
    display: block;
    width: 100%;
    height: 100%;
}
.big-pic-content .content-img video {
    display: block;
    width: 100%;
    height: 330px;
}
.big-pic-content .video-content-img img {
    object-fit: contain;
    background-image: none;
}
.big-pic-content .video-content-img a {
    position: relative;
}
.big-pic-content .video-content-img a:after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    content: "";
    margin: -25px 0 0 -25px;
    background: url(../img/play_icon.png) no-repeat;
}
.load-more {
    padding: 24px 0;
}
.load-btn {
    display: block;
    height: 58px;
    line-height: 58px;
    font-size: 0;
    text-align: center;
    border: 1px solid #e8e8e8;
    cursor: pointer;
}
.load-btn span {
    position: relative;
    display: inline-block;
    font-size: 20px;
    color: #333;
    padding-left: 38px;
}
.load-btn span:before {
    position: absolute;
    top: 50%;
    left: 0;
    width: 20px;
    height: 4px;
    content: "";
    margin-top: -2px;
    background: #333;
}
.load-btn span:after {
    position: absolute;
    top: 50%;
    left: 8px;
    width: 4px;
    height: 20px;
    content: "";
    margin-top: -10px;
    background: #333;
}
.loading {
    cursor: default;
}
.loading span {
    padding-left: 50px;
}
.loading span:before {
    width: 32px;
    height: 32px;
    margin-top: -16px;
    background: url(../img/loading.gif) no-repeat left center;
}
.loading span:after {
    content: none;
}
.no-more-data {
    height: 58px;
    line-height: 58px;
    font-size: 20px;
    color: #333;
    text-align: center;
    border: 1px solid #e8e8e8;
}

/*鍒嗛〉*/
.pages {
    padding: 6px;
    margin: 3px;
    text-align: center;
    font-family: "\5B8B\4F53";
    font-size: 14px;
}
.pages a {
    border: #d3d3d3 1px solid;
    padding: 5px 10px;
    margin: 2px;
    color: #000;
    background-color: #fff;
    text-decoration: none;
}
.pages a:hover {
    border: #3a9fff 1px solid;
    background-color: #3a9fff;
    color: #fff;
}
.pages .anum {
    display: none;
}
.pages span {
    border: #3a9fff 1px solid;
    padding: 5px 10px;
    margin: 3px;
    color: #fff;
    background-color: #3a9fff;
}
