article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
div,
p,
dl,
dd,
a,
b,
u,
em,
input,
textarea,
button,
option,
select,
form,
label,
span,
td,
li,
body,
ul,
ol,
i,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    font-family: "Microsoft Yahei";
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}
body {
    font-size: 12px;
    line-height: 24px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
ol,
ul {
    list-style: none;
}
img,
fieldset,
iframe {
    border: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-size: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
th,
caption {
    text-align: left;
}
:focus {
    outline: 0;
}
a,
a:link,
a:visited {
    text-decoration: none;
}
em,
strong,
i {
    font-weight: normal;
    font-style: normal;
}
.clearfix {
    *zoom: 1;
}
.clearfix:before {
    display: table;
    content: "";
}
.clearfix:after {
    display: table;
    content: "";
    clear: both;
}
