.acticle-list-item {
    display: flex;
    padding: 30px 5px;
    cursor: pointer;
    border-bottom: 1px solid #e0e0e2;
    align-items: center;
}
.acticle-list-item:hover {
    background: #fafafa;
}
.acticle-list-item .acticle-item-img {
    width: 160px;
}
.acticle-list-item .acticle-item-img img {
    width: 160px;
    height: 90px;
    object-fit: scale-down;
}
.acticle-list-item .acticle-item-info {
    width: 100%;
    margin-left: 15px;
}
.acticle-list-item .acticle-item-info .info-head {
    display: flex;
}
.acticle-list-item .acticle-item-info .info-head .info-title {
    font-size: 24px;
    font-weight: bold;
}
.acticle-list-item .acticle-item-info .info-head .info-time {
    margin-left: auto;
    margin-right: 10px;
    color: #555666;
    font-size: 14px;
    white-space: nowrap;
}
.acticle-list-item .acticle-item-info .info-content {
    margin: 5px 0;
    font-size: 14px;
    font-weight: 400;
    color: #555666;
    overflow: hidden;
    white-space: normal;
    word-break: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.acticle-list-item .acticle-item-info .info-desc {
    font-size: 14px;
    opacity: 0.88;
    display: flex;
    position: relative;
    flex-wrap: wrap;
}
.acticle-list-item .acticle-item-info .info-desc .desc-item {
    margin-right: 15px;
}
.acticle-list-item .acticle-item-info .info-desc .desc-item .q-icon {
    margin-right: 5px;
}
.acticle-list-item .acticle-item-info .info-desc .desc-item .desc-tag {
    margin-right: 10px;
    padding: 5px 10px;
}
.acticle-list-item .acticle-item-info .info-desc .desc-item-flex {
    display: flex;
    flex-wrap: wrap;
}
.acticle-list-item .acticle-item-info .info-desc .dot-menu {
    position: absolute;
    right: 50px;
    font-size: 20px;
}
.acticle-list-item .acticle-item-info .desc-time {
    font-size: 13px;
    margin-top: 5px;
}
