.page-pagebar {
    text-align: center;
    margin-top: 20px;
}

.page-content {
    position: relative;
    flex: 1;
    height: calc(100% - 100px);
    overflow: hidden;
    overflow-y: auto;
    margin: 0 auto;
    padding: 0;
    max-width: 960px;
    padding-top: 30px;
}
