.page-header {
    width: 100%;
    height: 60px;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 999;
}

.page-header .header-navbar {
    display: flex;
}

.page-header .head-search {
    margin-left: auto;
}

.page-header .head-search .search-ipt {
}

.page-header .head-search .search-btn {
    cursor: pointer;
    color: #fff;
    background-color: #393d44;
    margin-top: 5px;
    padding: 12px 8px;
    border-radius: 4px;
}

.page-header .head-search .search-btn:hover {
    color: #fff;
    background-color: #4285f4;
    transform: scaleY(1);
}


.header-left-normal{
    margin-left: calc((100vw - 960px) / 2);
}

.header-left-small{
    margin-left: 0;
}


.header-right-normal{
    margin-right: calc((100vw - 960px) / 2);
}

.header-right-small{
    margin-left: auto;
    margin-right: 0;
}