@import url("article-item.css");
@import url("header.css");
@import url("content.css");
@import url("sidebar.css");
@import url("AI.css");
@import url("common.css");
@import url("commit.css");
@import url("page-detail.css");

* {
    margin: 0;
    padding: 0;
}

[v-cloak] {
    display: none;
}

button,
input {
    border: none;
    outline: none;
    background: none;
    font: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

.page {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.page-main {
    width: 100%;
    height: calc(100vh - 150px);
}

.page-footer {
    font-size: 14px;
    text-align: center;
    border-top: 1px solid #eee;
    height: 80px;
    padding-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1000;
}
.navbar-item {
    margin: 0 5px;
}
.navbar-item a {
    padding: 6px 20px;
    transition: all 0.2s;
}

.navbar-item a:hover {
    color: #fff;
    background-color: #4285f4;
    transform: scaleY(1);
    border-radius: 4px;
}

.navbar-item-active a {
    color: #fff;
    background-color: #4285f4;
    transform: scaleY(1);
    border-radius: 4px;
}
