@import url("article-item.css");
@import url("header.css");
@import url("sidebar.css");
@import url("AI.css");
@import url("page-detail.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button,
input {
    border: none;
    outline: none;
    background: none;
    font: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

.page {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.page-main {
    display: flex;
    width: 100%;
    height: calc(100vh - 140px);
    overflow: hidden;
    overflow-y: auto;
}

.page-content {
    position: relative;
    flex: 1;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    width: 960px;
    max-width: 960px;
    padding-top: 30px;
}

.page-footer {
    font-size: 14px;
    text-align: center;
    border-top: 1px solid #eee;
    height: 80px;
    padding-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-item {
    margin: 0 5px;
}
.navbar-item a {
    padding: 6px 20px;
    transition: all 0.2s;
}

.navbar-item a:hover {
    color: #fff;
    background-color: #4285f4;
    transform: scaleY(1);
    border-radius: 4px;
}

.navbar-item-active a {
    color: #fff;
    background-color: #4285f4;
    transform: scaleY(1);
    border-radius: 4px;
}
