.article-detail-page {
    padding: 10px 25px;
    margin-top: 10px;
}
.article-detail-page .title-back {
    display: inline-block;
    cursor: pointer;
    font-size: 18px;
    margin-right: 10px;
    border-radius: 6px;
    padding: 6px;
}
.article-detail-page .title-back:hover {
    background-color: var(--blue);
    color: #fff;
}
.article-detail-page .article-detail-title {
    font-size: 30px;
    text-align: center;
    font-weight: 600;
}
.article-detail-page .article-context {
    margin-top: 10px;
    min-height: calc(100vh - 310px);
}
.article-detail-page .article-detail-info {
    background-color: #f8f8f8;
    border-radius: 4px;
    padding: 8px 16px;
    margin-top: 15px;
}
.article-detail-page .article-detail-info .detail-info-detail {
    display: flex;
    flex-wrap: wrap;
}
.article-detail-page
    .article-detail-info
    .detail-info-detail
    .info-detail-author {
    max-width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.article-detail-page
    .article-detail-info
    .detail-info-detail
    .detail-info-detail-flex {
    display: flex;
    margin-right: 20px;
}
.article-detail-page
    .article-detail-info
    .detail-info-detail
    .detail-info-detail-flex
    .info-detail-item:first-child {
    margin-left: 0px;
}
.article-detail-page .article-detail-info .info-detail-item {
    margin-left: 20px;
    display: flex;
    align-items: center;
}
.article-detail-page .article-detail-info .info-detail-item .q-icon {
    margin-right: 5px;
    font-size: 20px;
}
.article-detail-page .article-detail-info .hover-icon {
    cursor: pointer;
}
.article-detail-page .article-detail-info .hover-icon:hover {
    color: var(--blue);
}
.article-detail-page .article-detail-info .hover-icon .active-icon {
    color: var(--blue);
}
.article-detail-page .article-detail-info .hover-icon-red:hover {
    color: #ff0080;
}
.article-detail-page .article-detail-info .hover-icon-red .active-icon {
    color: #ff0080;
}
.article-detail-page .article-detail-info .detail-info-tags {
    margin-top: 10px;
    display: flex;
}
.article-detail-page .article-detail-info .detail-info-tags .detail-tag {
    margin-left: 10px;
    padding: 5px 10px;
}
