.page-side a {
    display: block;
    color: #fff;
    background-color: #393d44;
    margin-top: 5px;
    padding: 12px 3px;
    text-indent: 5px;
}

.page-side a:hover {
    color: #fff;
    background-color: #4285f4;
    transform: scaleY(1);
    border-radius: 4px;
}

.page-side {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    width: 200px;
    height: 60%;
    margin: 0;
    padding: 0;
    border: 1px solid #eee;
    border-radius: 6px;
    padding: 10px;
    overflow: hidden;
    overflow-y: auto;
}

.page-side2 {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: unset;
    right: 20px;
    width: 300px;
    height: 60%;
    margin: 0;
    padding: 0;
    border: 1px solid #eee;
    border-radius: 6px;
    padding: 10px;
    overflow: hidden;
    overflow-y: auto;
}

.side-cateList {
    max-height: 30%;
    overflow: hidden;
    overflow-y: auto;
}

.page-side2 .side-previous {
    max-height: 90%;
    overflow: hidden;
    overflow-y: auto;
}

.page-side2 p {
    font-size: 26px;
}
.page-side2 .side-previous li {
    margin-top: 10px;
    display: block;
    width: 100%;
}
.page-side2 .side-previous a {
    font-size: 18px;
    background-color: #eee;
    padding: 15px 10px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
    white-space: nowrap;
}

.page-side2 .side-previous a:hover {
    color: #4285f4;
}
