<?xml version="1.0" encoding="utf-8"?>
<plugin version="php">
<id>AIChat</id>
<name>AIChat</name>
<url>http://www.tusay.net/</url>
<note>AI对话</note>
<description>AI对话</description>
<path>main.php</path>
<include>include.php</include>
<level>1</level>
<author>
  <name>hzh</name>
  <email>tusaynet@126.com</email>
  <url>http://www.tusay.net</url>
</author>
<source>
  <name></name>
  <email></email>
  <url></url>
</source>
<adapted>151626</adapted>
<version>1.0</version>
<pubdate>2025-11-04</pubdate>
<modified>2025-11-04</modified>
<price>0</price>
<phpver>5.2</phpver>
<advanced>
  <dependency></dependency>
  <rewritefunctions></rewritefunctions>
  <existsfunctions></existsfunctions>
  <conflict></conflict>
</advanced>
<sidebars>
  <sidebar1></sidebar1>
  <sidebar2></sidebar2>
  <sidebar3></sidebar3>
  <sidebar4></sidebar4>
  <sidebar5></sidebar5>
</sidebars>
</plugin>