a,
a:focus,
a:hover {
    color: #333;
    text-decoration: none;
}
::-ms-clear,
::-ms-reveal {
    display: none;
}
.container {
    width: 1200px;
    color: #333;
    background-color: #fff;
}
.uc-search .search-red {
    color: #ff0000 !important;
}
.uc-search .select form {
    margin: 60px auto;
    width: 700px;
}
.select-search {
    position: relative;
    width: 600px;
    height: 50px;
}
.select-search input {
    width: 600px;
    height: 50px;
    font-size: 18px;
}
.select-search img {
    position: absolute;
    right: 0;
    top: 0;
    width: 22px;
    box-sizing: content-box;
    padding: 15px;
    margin-right: 7px;
    cursor: pointer;
}
.select form {
    line-height: 50px;
    font-size: 18px;
}
.select span {
    margin-left: 20px;
    font-weight: bold;
    cursor: pointer;
}
.uc-search .select .search-senior {
    display: none;
    margin: 20px auto;
    width: 1060px;
}
.search-senior h2 {
    margin: 0;
    padding: 20px 0;
    color: #000;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
}
.search-senior > div {
    padding-top: 20px;
    font-size: 14px;
}
.search-senior .search-title {
    width: 100px;
    color: #000;
    font-weight: bold;
    text-align: right;
    line-height: 36px;
}
.search-senior ul {
    width: 960px;
}
.search-senior ul li.form-group {
    margin: 0;
}
.search-position ul li.form-group {
    margin-top: 20px;
}
.search-position ul li.form-group:first-child {
    margin-top: 0;
}
.search-senior .search-cont {
    padding-left: 20px;
    color: #666;
    line-height: 36px;
}
.search-senior .search-cont label {
    width: 130px;
    color: #666;
    font-weight: normal;
}
.search-senior .search-cont input,
.search-senior .search-cont select {
    margin-left: 30px;
    width: 292px;
    height: 36px;
    color: #333;
    border-color: #ccc;
}
.search-remove {
    display: none;
    position: relative;
    left: -36px;
    padding: 0 12px;
    font-size: 21px;
    color: #2c7dba;
    cursor: pointer;
}
.select-search .search-remove {
    position: absolute;
    right: 77px;
    left: auto;
    padding: 0 19px;
}
.search-btn {
    text-align: center;
}
.search-btn button {
    margin-right: 30px;
    width: 160px;
    height: 50px;
    color: #fff;
    font-size: 20px;
    background-color: #999;
}
.search-btn button:last-child {
    margin-right: 0;
}
.search-btn button:hover,
.search-btn button:focus {
    color: #f5f5f5;
}
.search-btn button.search-active {
    background-color: #f2454b;
}
.result-head,
.search-result {
    margin: 0 auto;
    padding: 0;
    width: 1060px;
}
.result-head {
    border-bottom: 2px solid #e7e7e7;
}
#search-about {
    display: none;
}
.result-head-cont {
    padding-bottom: 20px;
}
.result-head-cont h3 {
    margin: 0;
    margin-bottom: 16px;
    font-size: 24px;
}
.result-head-cont p {
    margin: 0;
    padding-top: 6px;
    font-size: 14px;
    color: #999;
}
.search-result {
    min-height: 200px;
}
.search-result li {
    padding: 20px 0;
    border-bottom: 1px dashed #999;
}
.search-result li a {
    display: block;
}
.search-result li a:hover {
    color: #000;
}
.search-result h1 {
    margin: 0;
    height: 200px;
    font-size: 28px;
    line-height: 200px;
    text-align: center;
}
.search-result h2 {
    margin: 0;
    font-size: 24px;
}
.search-result .search-content {
    margin: 20px 0;
    font-size: 14px;
    height: 52px;
    line-height: 26px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.search-result .search-content p {
    margin: 0;
}
.search-result .corner span {
    margin-right: 24px;
    color: #666;
}
.search-result .corner span:first-child {
    margin-right: 0;
}
.pagination {
    margin: 30px 0 10px;
}
.pagination > li > a,
.pagination > li > span {
    margin-right: 10px;
    padding: 4px 10px;
    color: #555;
    font-size: 15px;
    border-color: #ccc;
}
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    cursor: pointer;
    background-color: #f2454b;
    border-color: #f2454b;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
    margin-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    color: #fff;
    background-color: #f2454b;
    border-color: #f2454b;
}
