.page-header {
    width: 100%;
    height: 114px;
    margin: 0;
    padding: 0;
     background-color: #fff;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
    position: fixed;
    z-index: 999;
}

.cc-page-header{
    display: flex;
    align-items: center;
}
.page-header p{
        color: #999;
    font-size: 13px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.page-header .page-logo{
    width: 296px;
}

.cc-page-header .navbar-item {
    margin-left: 40px;
}

.cc-page-header .navbar-item a {
    display: block;
    color: #01113f;
    font-size: 16px;
}

.cc-page-header .navbar-item a:hover {
    color: #ff5500;
}

.cc-page-header .nav-box{
    display: flex;
    align-items: center;
}

.navbar-item-active a {
    color: #ff5500;
}

.header-left-normal{
    margin-left: calc((100vw - 1200px) / 2);
}

.header-left-small{
    margin-left: 0;
}


.header-right-normal{
    margin-right: calc((100vw - 1200px) / 2);
}

.header-right-small{
    margin-left: auto;
    margin-right: 0;
}