@import url("article-item.css");
@import url("header.css");
@import url("content.css");
@import url("sidebar.css");
@import url("AI.css");
@import url("common.css");
@import url("commit.css");
@import url("page-detail.css");
@import url("bootstramp.css");
@import url("index-content.css");

* {
    margin: 0;
    padding: 0;
}

[v-cloak] {
    display: none;
}

html {
    font: 14px "Microsoft YaHei";
}

body {
    overflow-y: scroll;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    height: 100%;
    margin: 0;
    padding: 0;
    background: #f5f5f5;
}

button,
input {
    border: none;
    outline: none;
    background: none;
    font: inherit;
}

a {
    background-color: transparent;
    text-decoration: none;
    color: #474e5d;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

.page {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.page-main {
    width: 100%;
}

.page-footer {
    font-size: 14px;
    text-align: center;
    background-color: #fff;
    height: 88px;
    padding-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1000;
}

.link-a:hover {
    color: #ff5500;
}

.index-head h2 {
    font-size: 20px;
    float: left;
    height: 39px;
    border-bottom: solid 2px #ff5500;
}

.clearfixed {
    overflow: hidden;
    clear: both;
}
