.page-side a {
    display: block;
    color: #fff;
    background-color: #393d44;
    margin-top: 5px;
    padding: 12px 3px;
    text-indent: 5px;
    transition: all 0.2s;
    border-radius: 6px;
}

.page-side a:hover {
    color: #fff;
    background-color: #4285f4;
    transform: scaleY(1);
    border-radius: 4px;
}

.page-side {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 30px;
    width: 300px;
    height: 70%;
    margin: 0;
    padding: 0;
    border: 1px solid #eee;
    border-radius: 6px;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    overflow-y: auto;
    transition: all 0.2s;
}

.page-side1 {
    position: absolute;
    top: 535px;
    left: unset;
    right: 30px;
    width: 300px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    height: 35%;
    margin: 0;
    padding: 0;
    border: 1px solid #eee;
    border-radius: 6px;
    padding: 10px;
    overflow: hidden;
    transition: all 0.2s;
}

.page-side2 {
    position: absolute;
    left: unset;
    right: 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 0;
    border: 1px solid #eee;
    border-radius: 6px;
    padding: 10px;
    overflow: hidden;
    max-height: 60%;
    height: 420px;
    width: 350px;
    transform: none;
    top: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
}

.side-cateList {
    max-height: 30%;
    overflow: hidden;
    overflow-y: auto;
}

.page-side1 .side-previous {
    max-height: 90%;
    overflow: hidden;
    overflow-y: auto;
    margin-left: 15px;
    margin-right: -10px;
}

.page-side1 p {
    font-size: 26px;
}
.page-side1 .side-previous li {
    margin-bottom: 10px;
    display: block;
    width: 100%;
    border-radius: 6px;
}
.page-side1 .side-previous a {
    font-size: 18px;
    background-color: #eee;
    padding: 15px 10px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
    transition: all 0.2s;
    white-space: nowrap;
    border-radius: 6px;

}

.page-side1 .side-previous a:hover {
    color: #4285f4;
}

.page-side2 .el-calendar-day {
    height: auto !important;
}

.page-side2 .el-calendar-table {
    width: auto;
}

.page-side2 .el-calendar__button-group{
    display: none !important;
}

.sidebar-box3{
    box-sizing: unset;
}

.page-side2 .el-calendar__body{
    padding: 0 !important;
}