@import url("1.css");
@import url("2.css");
@import url("3.css");

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    font-family: "microsoft yahei";
    overflow-x: hidden;
    font-size: 12px;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.posR {
    position: relative;
}

.posA {
    position: absolute;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    border: none;
}

.wrap {
    width: 1000px;
    margin: 0 auto;
}

.f12 {
    font-size: 12px;
}

.f13 {
    font-size: 13px;
}

.f14 {
    font-size: 14px;
}

.f15 {
    font-size: 15px;
}

.f16 {
    font-size: 16px;
}

.f17 {
    font-size: 17px;
}

.f18 {
    font-size: 18px;
}

.normal {
    font-weight: normal;
}

.bold {
    font-weight: bold;
}

.color3 {
    color: #333;
}

.color9 {
    color: #999;
}

.mt5 {
    margin-top: 5px;
}

.mt6 {
    margin-top: 6px;
}

.mt7 {
    margin-top: 7px;
}

.mt8 {
    margin-top: 8px;
}

.mt9 {
    margin-top: 9px;
}

.mt10 {
    margin-top: 10px;
}

.mt11 {
    margin-top: 11px;
}

.mt12 {
    margin-top: 12px;
}

.mt13 {
    margin-top: 13px;
}

.mt14 {
    margin-top: 14px;
}

.mt15 {
    margin-top: 15px;
}

.mt16 {
    margin-top: 16px;
}

.mt17 {
    margin-top: 17px;
}

.mt18 {
    margin-top: 18px;
}

.mt19 {
    margin-top: 19px;
}

.mt20 {
    margin-top: 20px;
}

.mt21 {
    margin-top: 21px;
}

.mt22 {
    margin-top: 22px;
}

.mt23 {
    margin-top: 23px;
}

.mt24 {
    margin-top: 24px;
}

.mt25 {
    margin-top: 25px;
}

.mt26 {
    margin-top: 26px;
}

.mb20 {
    margin-bottom: 20px;
}

.mr10 {
    margin-right: 10px;
}

.mr45 {
    margin-right: 45px;
}

.mr40 {
    margin-right: 40px;
}

.mr20 {
    margin-right: 20px;
}

.ml35 {
    margin-left: 35px;
}

.mr5 {
    margin-right: 5px;
}

.color6 {
    color: #666;
}

/*澶撮儴鏍峰紡*/

.header {
    background-color: #2c7dba;
    height: 65px;
    line-height: 65px;
}

.header a,
.header ul li span {
    color: #fff;
}

.header ul li {
    /*width: 65px;*/
    height: 20px;
    /*margin-right: 15px;*/
}

.bottom {
    border-top: 2px solid #ee3d4d;
    margin-top: 20px;
}

.img20 {
    border: 1px solid #cfcfcf;
    padding: 5px;
}

/*搴曢儴鏍峰紡*/

.bottom .bottomUl > li {
    width: 300px;
    border-right: 1px solid #e5e5e5;
    height: 159px;
}

.bottom .bottomUl > li:last-child {
    border: none;
}

.download input {
    width: 130px;
    height: 36px;
    background-color: #f44648;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    color: #fff;
    border: none;
    font-family: "microsoft yahei";
}

.aboutUs {
    width: 225px;
    margin: 0 auto;
}

.bq p {
    line-height: 23px;
}

input[type="button"],
button {
    cursor: pointer;
    outline: none;
}

.mt4 {
    margin-top: 4px;
}

.mt3 {
    margin-top: 3px;
}

.mt2 {
    margin-top: 2px;
}

.mt10 {
    margin-top: 10px;
}

.mt7 {
    margin-top: 7px;
}

.mr5 {
    margin-right: 5px;
}

.mt30 {
    margin-top: 30px;
}

.mb10 {
    margin-bottom: 10px;
}

.mt87 {
    margin-top: 87px;
}
.bottomTable {
    position: relative;
    margin-left: 50%;
    left: -375px;
    margin-top: 1%;
}
.font_hei {
    font-size: 12px;
    line-height: 150%;
    color: #000000;
    text-decoration: none;
}
.font_red {
    font-size: 12px;
    line-height: 150%;
    color: #d80015;
    text-decoration: none;
}
.a_hei {
    font-family: "";
    font-size: 12px;
    line-height: 150%;
    color: #000000;
    text-decoration: none;
}
.mealName {
    width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
