<?xml version="1.0" encoding="utf-8"?>
<plugin version="php">
<id>visitor</id>
<name>访客计数器</name>
<url>https://www.toyean.com/post/visitor.html</url>
<note>访客总数统计与今日文章数统计</note>
<description>访客总数统计与今日文章数统计</description>
<path>main.php</path>
<include>include.php</include>
<level>1</level>
<author>
  <name>toyean</name>
  <email>toyean@qq.com</email>
  <url>https://www.toyean.com/</url>
</author>
<source>
  <name></name>
  <email></email>
  <url></url>
</source>
<adapted>172900</adapted>
<version>1.1</version>
<pubdate>2022-02-10</pubdate>
<modified>2025-10-24</modified>
<price>0</price>
<phpver>5.6</phpver>
<advanced>
  <dependency></dependency>
  <rewritefunctions></rewritefunctions>
  <existsfunctions></existsfunctions>
  <conflict></conflict>
</advanced>
<sidebars>
  <sidebar1></sidebar1>
  <sidebar2></sidebar2>
  <sidebar3></sidebar3>
  <sidebar4></sidebar4>
  <sidebar5></sidebar5>
  <sidebar6></sidebar6>
  <sidebar7></sidebar7>
  <sidebar8></sidebar8>
  <sidebar9></sidebar9>
</sidebars>
</plugin>